@import "../base/variables.scss";

.container_mobile{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@include min-from(min_lg) {
		width: 1170px;
	}
}

.container {
	@media only screen and (max-width: 1000px){
	  width: 100%;
	}
}

.title_mb{
  margin-bottom: 30px !important;
}

.main-section_height{
  height: 140px;
}

.position-relative{
	position: relative;
}

.overflow-hidden{
	overflow: hidden;
}

.form-subtitle{
  font-family: $Roboto;
  color: #333333;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}

.section{

	&_padding{
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&_margin{
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

//d-flex

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
	justify-content: space-between;
}

.justify-content-end{
  justify-content: flex-end;
}

.justify-content-start{
	justify-content: flex-start !important;
}

.align-item-center{
	align-items: center;
}

.w-100{
	width: 100%;
}

.h-100{
	height: 100%;
}

// matgin-y

.my-0{
	margin-top: 0;
	margin-bottom: 0;
}

.my-4{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5{
	margin-top: 3rem;
	margin-bottom: 3rem;
}


// matgin-bottom

.mb-1{
	margin-bottom: 0.25rem;
}

.mb-2{
	margin-bottom: 1rem;
}

.mb-4{
	margin-bottom: 1.5rem;
}

.mb-md-4{
	@include max-to(md) {
		margin-bottom: 1.5rem;
	}
}

.mb-5{
	margin-bottom: 3rem;
}

// matgin-top
.mt-2{
	margin-top: 1rem;
}

.mt-4{
	margin-top: 1.5rem;
}

.mt-5{
	margin-top: 3rem;
}

.mb-5{
	margin-bottom: 3rem;
}

// matgin-right

.mr-2{
	margin-right: 0.5rem;
}

// matgin-left

.ml-2{
	margin-left: 1rem;
}

// matgin-x

.mx-0{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.mx-2 {
	margin-right: 1rem;
	margin-left: 1rem;
}

// padding-top

.pt-4{
  padding-top: 1.5rem;
}

.pt-5{
	padding-top: 3rem;
}

// padding-left

.pl-4{
	padding-left: 1.5rem;
}

// padding-right

.pr-2{
	padding-right: 0.5rem;
}

// padding-bottom

.pb-1{
	padding-bottom: 0.25rem;
}

.pb-2{
	padding-bottom: 0.5rem;
}

.pb-4{
	padding-bottom: 1.5rem;
}

.pb-5{
	padding-bottom: 3rem;
}

// padding-x

.px-0{
	padding-right: 0;
	padding-left: 0;
}


.px-2{
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.px-4{
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.px-0{
	padding-right: 0rem;
	padding-left: 0rem;
}

// padding-y

.py-4{
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

.py-4{
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.py-5{
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.py-5{
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.position-relative{
	position: relative;
}

.z-index-0{
	z-index: 0;
}

.fhd-title{

	font-family: $Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	&_size{
		font-size: 28px;
	}

	&_blue{
		color: $c-volun-blue;
	}
}

// OLD select Index
.btn-group,
.btn-group-vertical{
	z-index: auto;
}

.col-lg-20{
	@media (min-width: 1199px){
		width: 20%;
	}
}
