.fhd-logo{
  fill: none;
  width: 149px;
  height: 52px;
  visibility: visible;
  transition: $expo;

  @include max-to(lg) {
    width: 149px;
    height: 40px;
  }

  @include max-to(xs) {
    width: 90px;
    height: auto;
  }

  @include max-to(ss) {
    width: 74px;
    height: auto;
  }
}

.affix .fhd-logo{
  width: 149px;
  height: 40px;

  @include max-to(lg) {
    height: 40px;
    width: 149px;
  }

  @include max-to(xs) {
    width: 90px;
    height: auto;
  }

  @include max-to(ss) {
    width: 74px;
    height: auto;
  }
}