
/* FONTS */

$Roboto: 'Roboto';
$Raleway: 'Raleway';
$OpenSans: 'Open Sans';


/* COLOR */

$c-volun-text: #333;
$c-volun-title-blue: #0A5E74;
$c-volun-orange: #F1774F;
$c-volun-red: #EB5757;
$c-volun-blue: #0A5E74;
$c-volun-gray: #828282;
$c-volun-gray2: #BDBDBD;

$c-btn-orange: #F1774F;
$c-btn-grey: #BDBDBD;
$c-btn-red: #EB5757;
$c-btn-green: #6FCF97;
$c-btn-yellow: #F7A553;

/* Transition */

$ease-out: 0.3s ease-out;
$expo: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
