@media print {
  body {
	-webkit-transform: scale(0.62, 0.51);
	transform: scale(0.62, 0.51);
	-webkit-transform-origin: left top;
	transform-origin: left top;
  }
  p {
	margin: 5px 0;
  }
}

@page {
  size: 297mm 210mm;
}
