@media print {
  body {
	-webkit-transform: scale(0.43, 0.35);
	transform: scale(0.43, 0.35);
	-webkit-transform-origin: left top;
	transform-origin: left top;
  }
  p {
	margin: 5px 0;
  }
}

@page {
  size: 210mm 148mm;
}
