//.mr-1 {
//  margin-right: 1rem;
//}
//.mr-2 {
//  margin-right: 2rem;
//}
//.color-red {
//  color: red;
//}
//.content {
//
//  .currency-picker {
//    label.error {
//      top: 50%;
//      bottom: auto;
//      transform: translateY(-50%);
//    }
//  }
//  label.error{
//    -moz-border-radius: 3px;
//    -webkit-border-radius: 3px;
//    border-radius: 3px;
//    -moz-box-shadow: 0 0 0 transparent;
//    -webkit-box-shadow: 0 0 0 transparent;
//    box-shadow: 0 0 0 transparent;
//    position: absolute;
//    bottom: 0;
//    right: 0;
//    height: 36px !important;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    padding: 0 10px;
//    color: #ffffff;
//    background: red;
//    border: 0;
//    margin: 0 !important;
//    font: 14px Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
//    white-space: nowrap;
//    z-index: 20;
//
//    &.textarea {
//      top: 50%;
//      bottom: auto;
//      transform: translateY(-50%);
//    }
//  }
//
//  label.error:before {
//    width: 0;
//    height: 0;
//    left: -8px;
//    top: 14px;
//    content: '';
//    position: absolute;
//    border-top: 6px solid transparent;
//    border-right: 8px solid red;
//    border-bottom: 6px solid transparent;
//  }
//
//  .error-log {
//    font-size: 20px;
//    position: relative;
//  }
//
//  .header-title {
//    margin: 3rem 0 2rem;
//  }
//}
//
////.fields-to-fill, .shipping-information, .price-delivery, .description, .sender-info, .recipient-info, .additional, .employees-info, .action-buttons {
////  display: none;
////}
//
//.buttons-create-back .panel-footer {
//  background: #fff;
//
//  button[type=submit] {
//    display: none;
//  }
//}
//
//.action-buttons {
//  display: flex;
//  justify-content: flex-end;
//}
//
///*progressbar*/
//.progressbar {
//  margin-bottom: 2rem;
//  overflow: hidden;
//  /*CSS counters to number the steps*/
//  counter-reset: step;
//  width: 100%;
//  text-align: center;
//
//  li {
//    list-style-type: none;
//    color: rgb(51, 51, 51);
//    text-transform: uppercase;
//    font-size: 10px;
//    font-weight: bold;
//    width: 12.5%;
//    float: left;
//    position: relative;
//    &:before {
//      content: counter(step);
//      counter-increment: step;
//      width: 20px;
//      font-weight: bold;
//      line-height: 20px;
//      display: block;
//      font-size: 12px;
//      color: #333;
//      background: white;
//      border-radius: 3px;
//      margin: 0 auto 5px auto;
//      transition: all .5s ease;
//    }
//    &:after {
//      content: '';
//      width: 100%;
//      height: 2px;
//      background: white;
//      position: absolute;
//      left: -50%;
//      top: 9px;
//      z-index: -1; /*put it behind the numbers*/
//      transition: all .5s ease;
//    }
//    &:first-child:after {
//      /*connector not needed before the first step*/
//      content: none;
//    }
//
//    &.active:before, &.active:after{
//      background: #3097D1;
//      color: white;
//      transition: all .5s ease;
//    }
//  }
//}
//
//.all-transport-types {
//  .type {
//    display: flex;
//    min-height: 70px;
//    width: 100%;
//    flex-flow: column;
//    justify-content: center;
//    align-items: center;
//    text-decoration: none;
//    border-radius: 4px;
//    i {
//      font-size: 2rem;
//    }
//
//    & + input {
//      display: none;
//    }
//  }
//}