
// Fonts
@import url("//fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "add-tracker";

@import "main";
@import "main-page";
@import "select2-custom";
@import "trackers-history-page";
@import "trackers-create-page";
@import "sing-page";

@import "responsive";

/* variables */
@import "base/variables";

/* mixins */
@import "base/mixins";

/* BASE */
@import "base/default";
@import "base/header";
@import "base/footer";

/* Pages */
@import "page/main";
@import "page/contacts";
@import "page/dogovor";
@import "modules/mobile-menu";
@import "page/admin";
@import "page/tickets";
@import "page/edit-profile";
@import "page/edit-profile";
@import "page/ticket-single";
@import "page/show-tracker-state";

/* Form */
@import "form/form";

/* Modules */
@import "modules/modules";
