/* MAIN_PAGE */

.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(271.17deg, #458393 19.13%, #0A5E74 88.39%);
  z-index: 1;
}
  .search-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 900px;
    margin: 100px auto 0;
    color: #fff;

    .title {
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .subtitle {
      font-weight: 200;
      line-height: 33px;
      font-size: 20px;
      margin-top: 32px;
      margin-bottom: 20px;
      opacity: .5;
    }

    .search-info {
      position: relative;
      display: flex;
      width: 100%;
      margin-bottom: 5px;
    }
    .help-block {
      position: absolute;
      color: #fff;
    }
    .form_group {
      position: relative;
      margin-bottom: 0;
    }

    .main-form {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;

      input {
        position: relative;
        padding-left: 28px;
        font-size: 16px;
        width: 350px;
        height: 60px;
        line-height: 60px;
        color: #BDBDBD;
        background: #F8FAFB;
        border: 1px solid #D4DBDC;
        border-radius: 5px;
        margin-bottom: 0;
      }

      .intl-tel-input .country-list {
        margin: 5px 0 0 -1px;
        border-radius: 5px;
        white-space: nowrap;
        width: 350px;
        color: #333;
      }
      .intl-tel-input .country-list .country {
        width: 100%;
      }
      .intl-tel-input .country-name {
        display: inline-block;
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }


      .btn-search {
        width: 140px;
        height: 60px;
        font-size: 15px;
        color: #fff;
      }
    }

    .btn-create {
      width: 280px;
      height: 60px;
      margin-top: 77px;
      font-size: 22px;
      border-width: 3px;
      color: #fff;

      &:hover {
        border-width: 3px;
      }
    }
  }


.services-section {
  //position: relative;
  padding-top: 100px;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 55%;
    right: 0;
    width: 900px;
    height: 900px;
    background: url(/images/bg-image.png) no-repeat 0 0 / cover;
    z-index: -1;
  }
}
  .title-block {
    color: $brand-primary;

    .subtitle {
      font-size: 24px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
    }
    .title {
      margin-top: 7px;
      margin-bottom: 0;
      font-size: 46px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .services-block {
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;

    .service-block {
      position: relative;
      display: flex;
      flex-flow: column;
      width: 390px;
      margin: 0 45px 60px 0;
      transition: all .5s ease;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      &:hover {
        .icon {
          top: 50%;
          transform: translateY(-50%);
        }
        svg {
          transform: scale(1.2);
          transition: all .5s ease;
        }
      }
    }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transition: all .5s ease;

        svg {
          display: block;
          width: 50px;
          height: 50px;
          fill: #F7A553;
          transform: scale(1);
          transition: all .5s ease;
        }
      }
      .info-block {
        padding-left: 70px;
      }
      .info-block-title {
        position: relative;
        font-size: 22px;
        font-weight: 500;
        color: #000;
        margin-bottom: 16px;


        span {
          position: relative;
          display: inline-block;
        }
      }
      .info-block-text {
        position: relative;
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        color: $text-color;
      }
  }


.documents-section {
  position: relative;
  padding-top: 100px;
  z-index: 1;
  .title-block {
    width: 900px;
  }
}
  .documents-block {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
  }
  .document-block {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 50px;
    width: calc(50% - 15px);
    height: auto;
    background: #F8FAFB;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    transition: all .5s ease;

    &:hover {
      background: #fff;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
      transition: all .5s ease;
    }

    .document-title {
      font-weight: 500;
      font-size: 22px;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 33px;
    }
    .document-list {
      ul {
        max-width: 450px;
        list-style: none;
        padding-left: 20px;
        margin: 0;
      }
      li {
        position: relative;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;

        a {
          color: $text-color;
        }

        &:before {
          content: '';
          position: absolute;
          left: -20px;
          top: 8px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #F7A553;
        }
      }
    }
  }


.contact-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 580px;
    background: rgba(10, 94, 116, 0.03);
    z-index: 0;
  }
}
  .contact-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    .title-block {
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 530px;
    }
  }
  .contact-form {
    position: relative;
    width: 617px;
    height: 560px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 40px;

    input {
      display: block;
      width: 100%;
      height: 60px;
      padding: 18px;
      color: #BDBDBD;
      font-size: 16px;
      background: #F8FAFB;
      border: 1px solid #D4DBDC;
      border-radius: 5px;
      margin-bottom: 20px;
      transition: all .5s ease;

      &:focus {
        background: #FFFFFF;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
        transition: all .5s ease;
      }
    }

    textarea {
      display: block;
      width: 100%;
      height: 140px;
      padding: 18px;
      color: #BDBDBD;
      font-size: 16px;
      background: #F8FAFB;
      border: 1px solid #D4DBDC;
      border-radius: 5px;
      margin-bottom: 20px;
      resize: none;
      transition: all .5s ease;

      &:focus {
        background: #FFFFFF;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
        transition: all .5s ease;
      }
    }

    .btn-send {
      width: 140px;
      height: 60px;
      color: #fff;
    }
  }

/* /MAIN_PAGE */



/* RESPONSIVE */

@media only screen and (max-width: 1366px) {
  .services-block {
    .service-block {
      margin-right: 20px;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 960px) {
  .main-section {
    height: auto;
  }
    .search-block {
      width: 100%;
      margin: 120px auto 50px;

      .form_group {
        position: relative;
        margin-bottom: 20px;
      }

      .search-info {
        justify-content: center;
        text-align: center;
      }
      .main-form {
        flex-flow: column;
        height: 100%;
      }
      .btn-create {
        margin-top: 50px;
      }
  }

  .services-section {
    padding-top: 100px;
  }
    .services-block {
      justify-content: center;
    }
    .title-block {
      text-align: center;
      width: 100%;
      margin: 0 auto;

      .subtitle {
        font-size: 20px;
      }
      .title {
        font-size: 36px;
      }
    }

  .documents-section {
    .title-block {
      width: 600px;
    }
  }
    .documents-block {
      flex-flow: column;
      align-items: center;
    }
    .document-block{
      width: 65%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
  }

  .contact-section {
    padding-bottom: 100px;

    &:after {
      height: 550px;
    }
  }
    .contact-block {
      flex-flow: column;
    }
    .contact-form {
      width: 65%;
      margin: 50px auto 0;

      form {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
      }
    }
}

@media only screen and (max-width: 640px) {
  .search-block {
    margin-top: 100px;
  }

  .services-section {
    &:after {
      bottom: 80%;
      width: 600px;
      height: 600px;
    }
  }
    .services-block {
    .service-block {
      margin-right: 0;
      width: 80%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .documents-section {
    .title-block {
      width: 100%;
    }
  }
    .document-block {
      width: 80%;
    }

  .contact-block {
    .title-block {
      width: 100%;
    }
  }
  .contact-form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .search-block {

    .title {
      font-size: 26px;
    }
    .subtitle {
      line-height: 1;
      font-size: 16px;
      margin-top: 15px;
    }

    .main-form {
      .form_group, .intl-tel-input, input {
        width: 100%;
      }
    }
  }

  .title-block {
    .subtitle {
      font-size: 18px;
    }
    .title {
      font-size: 28px;
    }
  }

  .services-block {
    .service-block {
      width: 90%;
    }
  }

  .document-block {
    width: 90%;
    padding: 25px;

    .document-title {
      font-size: 18px;
      margin-bottom: 23px;
    }
    .document-list li {
      margin-bottom: 10px;
    }
  }

  .contact-section:after {
    height: 525px;
  }
  .contact-form {
    width: 90%;
    padding: 25px 20px;
    height: auto;
  }
}

/* /RESPONSIVE */
/* veriabels */

/* FONTS */

/* COLOR */

/* mixins */

/* VERIABEL */

/* MEDIA */

/* FONTS */

/* VIEW Ports */

.block_view {
  margin: auto;
  background: #ADD8E6;
  border: 2px solid #2265a2;
}

/* BASE */

/* Pages */

.service-block_padding-l {
  padding-right: 15px;
}

.service-block_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service-block__col {
  width: 33.3333%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.3333%;
  -ms-flex: 1 1 33.3333%;
  flex: 1 1 33.3333%;
}

.calculator-custom_bg {
  background-color: #f8fafb;
}

.calculator-custom__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
  border: 0;
}

.calculator-custom__tab {
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0a5e74;
  background-color: #f0f4f7;
  padding: 0;
  cursor: pointer;
}

.calculator-custom__tab svg {
  fill: #0a5e74;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.calculator-custom__tab.active {
  color: #0a5e74;
  background-color: transparent;
}

.calculator-custom__tab.active a {
  color: #0a5e74;
}

.calculator-custom__tab.active svg {
  fill: #f7a553;
}

.calculator-custom__tab a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  height: 60px;
  line-height: 60px;
}

.calculator-custom__tab a:focus,
.calculator-custom__tab a:hover {
  text-decoration: none;
}

.calculator-custom__tab svg {
  margin-right: 10px;
}

.info-message {
  color: #a4a4a5;
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  position: relative;
  margin: 15px 0 30px;
}

.info-message::before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #f7a553;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0;
}

.info-message a {
  color: #538e9d;
  text-decoration: underline;
}

.add-info .icon {
  margin-right: 15px;
}


.add-info__link:focus,
.add-info__link:hover {
  color: #f7a553;
  border-color: #f7a553;
  text-decoration: none;
}

/* Form */

/* Form */

.form-group__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form-group__btn-info {
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  margin: 10px 0 0 5px;
}

.textarea__custom,
.input__custom {
  color: #333333;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  padding: 0 34px 0 12px;

  height: 48px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 233, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 233, 0);
}

.textarea__custom:focus,
.input__custom:focus {
  border-color: #333333;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 233, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 233, 0);
}

.textarea__custom[disabled],
.input__custom[disabled] {
  border-color: #E0E0E0;
  background-color: #FCFCFC;
}

.textarea__custom_info,
.input__custom_info {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}

.textarea__custom_search,
.input__custom_search {
  position: relative;
}

.textarea__custom_search .input__custom,
.input__custom_search .input__custom {
  padding-right: 40px;
}

.has-error {
  position: relative;
}

.has-error::before {
  content: '';
  position: absolute;
  background: url(/img/has-error.png) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  top: 11px;
  right: 11px;
  z-index: 0;
}

.has-error .form-control {
  color: #EB5757;
  border-color: #EB5757 !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.has-success {
  position: relative;
}

.has-success::before {
  content: '';
  position: absolute;
  background: url(/img/has-success.png) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  top: 11px;
  right: 11px;
  z-index: 9;
}

.has-success .form-control {
  color: #6FCF97;
  border-color: #6FCF97 !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.help-block {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.help-block.error {
  color: #EB5757;
  padding-left: 30px;
  background: url(/img/has-error.png) no-repeat 0 center/22px 22px;
}

.help-block.success {
  color: #6FCF97;
  padding-left: 30px;
  background: url(/img/has-success.png) no-repeat 0 center/22px 22px;
}

.input__custom-date {
  background: url(/img/date.png) no-repeat 95% center/20px 19px;
  cursor: pointer;
}

//.btn-search {
//  display: inline-block;
//  width: 40px;
//  height: 100%;
//  position: absolute;
//  top: 0;
//  right: 0;
//  z-index: 9;
//  border: 0;
//  padding: 0;
//  outline: none;
//  cursor: pointer;
//}

.btn-search_send {
  background: url(/img/btn-search.png) no-repeat center/20px 20px;
}

.btn-search_clear {
  display: none;
  background: url(/img/search-clear.png) no-repeat center/24px 24px;
}

.checkbox__custom {
  color: #202121;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 24px;
  width: 100%;
  padding: 0 0 0 40px !important;
  position: relative;
}

.checkbox__custom input {
  display: none;
}

.checkbox__custom_dot::before {
  content: "";
  background: #FFFFFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 2px;
  height: 22px;
  width: 22px;
  left: -1px;
  position: absolute;
  z-index: 9;
  border: 7px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.checkbox__custom_dot_gray::before {
  -webkit-box-shadow: 0 0 0 1px #BDBDBD;
  box-shadow: 0 0 0 1px #BDBDBD;
}

.checkbox input:checked + .checkbox__custom_dot_gray::before {
  border-color: #828282;
  -webkit-box-shadow: inset 0 0 0 10px #fff;
  box-shadow: inset 0 0 0 10px #fff;
}

.checkbox__custom_dot_green::before {
  -webkit-box-shadow: 0 0 0 1px #27AE60;
  box-shadow: 0 0 0 1px #27AE60;
}

.checkbox input:checked + .checkbox__custom_dot_green::before {
  border-color: #27AE60;
  -webkit-box-shadow: inset 0 0 0 10px #fff;
  box-shadow: inset 0 0 0 10px #fff;
}

.checkbox__custom_dot_orange::before {
  -webkit-box-shadow: 0 0 0 1px #F2994A;
  box-shadow: 0 0 0 1px #F2994A;
}

.checkbox input:checked + .checkbox__custom_dot_orange::before {
  border-color: #F2994A;
  -webkit-box-shadow: inset 0 0 0 10px #fff;
  box-shadow: inset 0 0 0 10px #fff;
}

.calculator-custom__checkbox {
  color: #202121;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 24px;
  width: 100%;
  padding: 0 !important;
}

.calculator-custom__checkbox input {
  display: none;
}

.calculator-custom__checkbox input:checked + .calculator-custom__checkbox_tumbler:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.calculator-custom__checkbox2 {
  color: #202121;
  font-size: 14px;
  font-weight: 500 !important;
  padding-left: 40px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 18px;
  width: 100%;
}

.calculator-custom__checkbox2 input {
  display: none;
}

.calculator-custom__checkbox2 input:checked + .calculator-custom__checkbox2_check::before {
  background-color: #0a5d74;
}

.calculator-custom__checkbox2 input:checked + .calculator-custom__checkbox2_check::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.calculator-custom__checkbox_inline {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.calculator-custom__checkbox_inline span:not(.calculator-custom__checkbox2_check) {
  line-height: 22px;
}

.calculator-custom__checkbox_tumbler {
  width: 38px;
  margin: 0 auto 0 26px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calculator-custom__checkbox_tumbler::before {
  content: "";
  background-color: #0a5d74;
  bottom: 2px;
  height: 22px;
  width: 22px;
  left: -1px;
  position: absolute;
  z-index: 9;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calculator-custom__checkbox_tumbler::after {
  content: "";
  background-color: #fff;
  bottom: 4px;
  height: 18px;
  width: 38px;
  left: 0;
  position: absolute;
  z-index: 1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.calculator-custom__checkbox2_check {
  width: 38px;
  margin: 0;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calculator-custom__checkbox2_check::before {
  content: "";
  border: 1px solid #0a5d74;
  bottom: 2px;
  height: 20px;
  width: 20px;
  left: -1p2;
  position: absolute;
  z-index: 9;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background-color: #fff;
}

.calculator-custom__checkbox2_check::after {
  content: "\f00c";
  color: #fff;
  font-family: 'FontAwesome';
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 3px;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.calculator-custom__checkbox_tumbler.active {
  -webkit-border-radius: 34px;
  border-radius: 34px;
}

.calculator-custom__checkbox_tumbler.active:before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.calculator-total-block {
  margin-bottom: 25px;
  font-weight: 500;
}

#calculator-results {
  color: #333;
}

.calculator-results-separator {
  border-top: 2px solid #e8eced;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.select__custom {
  display: inline-block;
  color: #cdcdcd;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  height: 48px;
  padding: 12px 20px 12px 12px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 8px;
}

.select__custom option {
  color: #828282;
}

.select_hidde {
  display: none;
}

.select_show {
  display: block;
}

.select__custom_wrapp {
  position: relative;
}

.select__custom_wrapp .fa-angle-down {
  font-size: 16px;
  position: absolute;
  z-index: 9;
  top: 16px;
  right: 14px;
  margin: auto 0;
}

.calculator-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 2px solid #e8eced;
  padding-top: 30px;
  padding-bottom: 30px;
}

.calculator-btn_padding {
  padding: 8px 60px;
}

.btn-custom {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 21px 5px;
  min-width: 250px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
  text-decoration: none;
}

.btn-custom_green {
  background-color: #27AE60;
}

.btn-custom_green:hover,
.btn-custom_green:focus {
  background-color: #19703e;
}

.btn-custom_gray {
  background-color: #BDBDBD;
}

.btn-custom_gray:hover,
.btn-custom_gray:focus {
  background-color: #979797;
}

.btn-custom_blue {
  background-color: #2D9CDB;
}

.btn-custom_blue:hover,
.btn-custom_blue:focus {
  background-color: #1b70a0;
}

a[download]:hover,
a[download]:focus {
  text-decoration: none;
  opacity: 0.9;
}

.alert__custom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 20px 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0;
}

.alert__custom .close {
  opacity: 1;
  margin-top: -13px;
}

.alert__custom .close:hover {
  opacity: 0.45;
}

.alert__custom .close i {
  font-size: 16px;
  color: #0A5E74;
}

.alert__header {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.alert__header svg {
  margin-right: 10px;
  margin-bottom: 5px;
}

.alert-danger__custom {
  color: #EB5757;
  background-color: #FEF1ED;
}

.alert-info__custom {
  color: #0A5E74;
  background-color: #E7EFF1;
}

.alert-warning__custom {
  color: #F1774F;
  background-color: #FEFAED;
}

.alert-success__custom {
  color: #219653;
  background-color: #F1FAF5;
}

.popover {
  max-width: 360px;
  width: 100%;
  border-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.popover.right > .arrow {
  border-right-color: rgba(189, 189, 189, 0.1);
}

.popover.left > .arrow {
  border-left-color: rgba(189, 189, 189, 0.1);
}

.popover.top > .arrow {
  border-top-color: rgba(189, 189, 189, 0.1);
}

.popover.bottom > .arrow {
  border-bottom-color: rgba(189, 189, 189, 0.1);
}

.popover-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/img/has-info.png) no-repeat 0 center/24px 24px;
  position: absolute;
  z-index: 9;
  top: 13px;
  left: 11px;
}

.popover-icon-textarea {
  display: inline-block;
  width: 26px;
  height: 100%;
  background: url(/img/popover_warning.png) no-repeat 0 21px/26px 24px;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 11px;
}

.popover-content {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #BDBDBD;
  padding: 15px 15px 15px 45px;
}

.popover-content b {
  color: #000;
  font-weight: 400;
}

.textarea__custom {
  resize: none;
  min-height: 122px;
}

.swal-modal {
  padding: 100px 30px 10px;
  -webkit-transition: all 0.34s ease-in-out;
  -o-transition: all 0.34s ease-in-out;
  transition: all 0.34s ease-in-out;
}

.swal-modal .swal-icon--success__hide-corners,
.swal-modal .swal-icon--success:after,
.swal-modal .swal-icon--success:before {
  display: none;
}

.swal-modal .swal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin-top: 13px;
}

.swal-modal .swal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.swal-modal .swal-button {
  padding: 11px 24px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.swal-modal .swal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swal-modal_success-border {
  background: #F1FAF5;
  -webkit-box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-success-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_success-border .swal-title {
  color: #219653;
}

.swal-modal_success-border .swal-button {
  color: #219653;
  border-color: #219653 !important;
}

.swal-modal_success-border .swal-button:hover {
  color: #fff;
  background-color: #219653;
}

.swal-modal_error-border {
  background: #FEF5F5;
  -webkit-box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-error-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_error-border .swal-title {
  color: #EB5757;
}

.swal-modal_error-border .swal-button {
  color: #EB5757;
  border-color: #EB5757 !important;
}

.swal-modal_error-border .swal-button:hover {
  color: #fff;
  background-color: #EB5757;
}

.swal-modal_warning-border {
  background: #FEFAED;
  -webkit-box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-warning-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_warning-border .swal-title {
  color: #F1774F;
}

.swal-modal_warning-border .swal-button {
  color: #F1774F;
  border-color: #F1774F !important;
}

.swal-modal_warning-border .swal-button:hover {
  color: #fff;
  background-color: #F1774F;
}

.swal-modal_successMini {
  padding: 22px !important;
  background: #F1FAF5;
  -webkit-box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-success-icon.png");
  background-repeat: no-repeat;
  background-position: 30px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
}

.swal-modal_successMini .swal-title {
  color: #219653;
  padding: 0;
  margin: 0 !important;
}

.swal-modal_successMini .swal-button {
  color: #219653;
  border-color: #219653 !important;
}

.swal-modal_successMini .swal-button:hover {
  color: #fff;
  background-color: #219653;
}

.swal-modal_errorMini {
  padding: 22px !important;
  background: #FEF5F5;
  -webkit-box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-error-icon.png");
  background-repeat: no-repeat;
  background-position: 30px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
}

.swal-modal_errorMini .swal-title {
  color: #EB5757;
  padding: 0;
  margin: 0 !important;
}

.swal-modal_errorMini .swal-button {
  color: #EB5757;
  border-color: #EB5757 !important;
}

.swal-modal_errorMini .swal-button:hover {
  color: #fff;
  background-color: #EB5757;
}

.swal-modal_warningMini {
  padding: 22px !important;
  background: #FEFAED;
  -webkit-box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 8px solid #fff;
  background-image: url("/img/swal-warning-icon.png");
  background-repeat: no-repeat;
  background-position: 30px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
}

.swal-modal_warningMini .swal-title {
  color: #F1774F;
  padding: 0;
  margin: 0 !important;
}

.swal-modal_warningMini .swal-button {
  color: #F1774F;
  border-color: #F1774F !important;
}

.swal-modal_warningMini .swal-button:hover {
  color: #fff;
  background-color: #F1774F;
}

.swal-modal_success_time {
  background: #F1FAF5;
  -webkit-box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("/img/swal-time-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_success_time .swal-title {
  color: #219653;
  padding: 0 70px;
}

.swal-modal_success_time .swal-button {
  color: #EB5757;
  border-color: #EB5757 !important;
}

.swal-modal_success_time .swal-button:hover {
  color: #fff;
  background-color: #EB5757;
}

.swal-modal {
  padding: 100px 30px 10px;
}

.swal-modal .swal-icon--success__hide-corners,
.swal-modal .swal-icon--success:after,
.swal-modal .swal-icon--success:before {
  display: none;
}

.swal-modal .swal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin-top: 13px;
}

.swal-modal .swal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.swal-modal .swal-button {
  padding: 11px 24px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.swal-modal .swal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swal-modal_success {
  background: #F1FAF5;
  -webkit-box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("/img/swal-success-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_success .swal-title {
  color: #219653;
}

.swal-modal_success .swal-button {
  color: #219653;
  border-color: #219653;
}

.swal-modal_success .swal-button:hover {
  color: #fff;
  background-color: #219653;
}

.swal-modal_error {
  background: #FEF5F5;
  -webkit-box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("/img/swal-error-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_error .swal-title {
  color: #EB5757;
}

.swal-modal_error .swal-button {
  color: #EB5757;
  border-color: #EB5757;
}

.swal-modal_error .swal-button:hover {
  color: #fff;
  background-color: #EB5757;
}

.swal-modal_warning {
  background: #FEFAED;
  -webkit-box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("/img/swal-warning-icon.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.swal-modal_warning .swal-title {
  color: #F1774F;
}

.swal-modal_warning .swal-button {
  color: #F1774F;
  border-color: #F1774F;
}

.swal-modal_warning .swal-button:hover {
  color: #fff;
  background-color: #F1774F;
}

@-webkit-keyframes showSweetAlert {
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes showSweetAlert {
  1% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Modules */

/* Modules */

@media only screen and (min-width: 1920px) {
  .calculator-custom__tabs {
    max-width: 1140px;
    margin: 70px auto 20px;
  }
}

@media only screen and (max-width: 1339.98px) {
  .block_view {
    background: red;
    width: 48.50819vw;
    height: 48.50819vw;
    font-size: 2.08958vw;
  }
}

@media only screen and (max-width: 1199.98px) {
  .service-block_padding-l {
    padding-right: 0;
  }

  .service-block_margin {
    display: block !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 991.98px) {
  .block_view {
    background: red;
    width: 45.36382vw;
    height: 45.36382vw;
    font-size: 2.82264vw;
    border: 1.00808vw solid #000;
  }

  .service-block__col {
    width: 50%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}

@media only screen and (max-width: 575.98px) {
  .block_view {
    background: red;
    width: 43.40428vw;
    height: 43.40428vw;
    font-size: 3.12511vw;
  }

  .service-block_flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .service-block__col {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .add-info__link {
    padding-right: 15px;
  }
}
