/* MAIN */

$footer-height: 100px;

*{
  outline:none!important;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  line-height: 1;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
}

/* DEFAULT */

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all .5s ease;
}

svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.btn-main {
  display:flex;
  justify-content:center;
  align-items:center;
  background: #F7A553;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .5s ease;

  &:hover {
    background: #E3984C;
    transition: all .5s ease;
  }

  &:active {
	transform:scale(.98);
	transition:all .2s ease;
  }
}

.btn-secondary {
  display:flex;
  justify-content:center;
  align-items:center;

  border:1px solid hsla(0,0%,100%,.3);
  border-radius:5px;
  font-weight:500;
  text-transform:uppercase;
  color: #fff;
  transition: all .5s ease;

  &:hover {
	border:1px solid hsla(0,0%,100%,.5);
	transition:all .5s ease;
  }

  &:active {
	transform:scale(.98);
	transition:all .2s ease;
  }
}

.btn-text {
  display:flex;
  justify-content:center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  box-shadow: none;

  &:hover {
	box-shadow:none;
  }

  &:active {
	box-shadow:none;
  }
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

.color-red {
  color: #EB5757;
}

//dropdown
.dropdown-custom {
  position: relative;

  .dropdown-block {
    position: absolute;
    bottom: 0;
    left: 0;
	display:flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    list-style: none;
	flex-flow:column;
	align-items:center;
    width: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    transition: opacity .5s ease .1s,
    visibility .5s ease .1s,
    transform .5s ease .1s;

    & > * {
      opacity: 0;
      transform: translateY(-100%);
      transition: all .5s ease;
    }

    &.show-dropdown {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
      transform: translateY(100%);
      transition: opacity .5s ease,
      visibility .5s ease,
      transform .5s ease;

      & > * {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease .1s;
      }
    }

    li {
      width: 100%;
    }

    .dropdown-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 100%;
      color: #333;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {
        background: rgba(0, 0, 0, .1);
        transition: all .5s ease;
      }
    }
  }

  &.open-up {
    .dropdown-block {
      top: 0;
      bottom: auto;
      transform: translateY(-20px);

      & > * {
        transform: translateY(100%);
      }

      &.show-dropdown {
        transform: translateY(-100%);

        & > * {
          transform: translateY(0);
        }
      }
    }
  }
}

.bootstrap-select {
  .btn-group.open .dropdown-toggle, .dropdown-toggle {
    background: #F2F2F2 !important;
    border: 1px solid #E0E0E0 !important;
    box-shadow: none !important;
  }

  .dropdown-toggle {
    &:focus {
      outline: none !important;
      color: inherit !important;
    }

    &:hover {
      color: inherit;
      background: inherit;
    }
  }

  .dropdown-menu {
    margin-top: -5px;
    border-top: 0;
    background: #F2F2F2;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    li {

      a {
        background: #F2F2F2;
        padding-left: 30px;

        &::before {
          width: 14px;
          height: 14px;
          content: "";
          background: url(/img/icons/fake-checkbox-icon.png) 0 -14px no-repeat;
          background-size: cover !important;
          position: absolute;
          left: 10px;
          top: 7px;
          border-radius: 3px;
        }

        &:hover {
          background-color: inherit;
        }
      }

      &.selected {
        a::before {
          content: "";
          background: url(/img/icons/fake-checkbox-icon.png) 0 0 no-repeat;
          background-size: inherit;
        }


      }
    }
  }
}

.position-center {
  margin: 0 auto;
}

.simple-page {
  //margin-top: 77px;
  //margin-bottom: 77px;
}

.card {
  position: relative;
  background: #fff;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 55px;

  .card-header {
    font-weight: 500;
    line-height: normal;
    font-size: 28px;
    color: $brand-primary;
    text-align: center;
    margin-bottom: 30px;

    * {
      font-size: 28px;
    }

    .over-card-content {
      margin-left: -55px;
      margin-right: -55px;
    }

  }
}

label {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: $text-color;
  margin-bottom: 11px;
}

.form-control {
  background: #F2F2F2;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 3px;
  height: 48px;

  &:focus {
    border-color: #0cad07 !important;
    box-shadow: none !important;
  }

  button.dropdown-toggle {
    height: 100%;

    .caret {
      background: url(/img/dropdown-toggle-arrow.png) 0 0 no-repeat;
      border: none;
      height: 10px;
      width: 15px;
    }
  }
}

.fake-radio, .fake-checkbox {
  input {
    display: none;
  }
}

.fake-radio.default {
  line-height: 17px;
  height: 18px !important;
  min-height: 18px !important;
  margin-bottom: 4px;
  padding-left: 26px !important;
  background: url(/img/icons/fake-radio-icon.png) 0 -18px no-repeat;

  &.checked {
    background-position-y: 0;
    background-size: 18px;
  }
}

.fake-checkbox {
  line-height: 17px;
  height: 18px !important;
  min-height: 18px !important;
  margin-bottom: 4px;
  padding-left: 26px !important;
  background: url(/img/icons/fake-checkbox-icon.png) 0 -18px no-repeat;

  &.checked {
    background-position-y: 0;
    background-size: 18px;
  }
}

.fake-input-file {
  background: url(/img/fake-file-input-button.png) right center no-repeat;
  cursor: pointer;
  line-height: 34px;
  padding-right: 183px;
  position: relative;

  .placeholder {
    color: #828282;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .select-file {
    color: $brand-primary;
    position: absolute;
    right: 28px;
    top: 6px;
  }

  input {
    display: none;
  }
}

.form-group.required {
  input {
    background: #fff;
  }
}

/* /DEFAULT */


/* ANIMATION */

@keyframes fixMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* /ANIMATION */


/* CUSTOM */

.main-page {
  .header-section {
    background: none;
    position: absolute;
    left: 0;
    top: 40px;

    &:not(.affix) .navigation .logo img {
      width: 149px;
    }
  }
}


.header-section {
  background: linear-gradient(271.17deg, #0A5E74 19.13%, #458393 88.39%);
  transform-origin: top;
  transition: transform .5s ease, top .5s ease;
  width: 100%;
  z-index: 1000;

  .navigation .logo img {
    width: 110px;
  }

  &.affix {
    background: linear-gradient(271.17deg, #0A5E74 19.13%, #458393 88.39%);
    position: fixed;
    top: 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    animation: fixMenu .5s;
    transition: transform .5s ease;
    z-index: 10000;
  }
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  color: #fff;
  z-index: 99;

  .logo {
    opacity: 1;

    img {
      width: 149px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li.active {
      .item {
        opacity: 1;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: .5;
    padding: 0 15px;
    height: 64px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
      transition: all .5s ease;
    }
  }

  .set-locale {
    margin-left: 25px;
  }

  .btn-lang {
    justify-content: space-between;
    width: 65px;
    height: 64px;
    color: #fff;
    font-weight: 400;
    padding: 0;
  }

  .icon-globe {
    width: 18px;
    height: 18px;
    fill: #A8BFC5;
  }

  .icon-arrow_down {
    width: 8px;
    height: 8px;
  }

  .profile-actions {
    display: flex;
    align-items: center;
  }

  .login {
    display: flex;

    .fa {
      padding-right: 10px;
    }
  }

  .btn-registration {
    height: 36px;
    border-width: 2px;
    font-size: 13px;
    color: #fff;
    //margin-right: 10px;

    &:hover {
      border-width: 2px;
    }
  }

  .btn-login {
    height: 36px;
    color: #fff;
    font-size: 13px;
  }

  .profile {
    display: flex;
  }

  .btn-profile {
    height: 36px;
    color: #fff;
    font-size: 13px;
    min-width: 180px;
    justify-content: space-between;

    i {
      font-size: 18px;
    }

    span {
      display: block;
      margin-left: 5px;
      margin-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 120px;
    }

    & + .dropdown-block {
      right: 0;
      left: auto;
      bottom: -14px;

      .dropdown-item {
        justify-content: flex-start;
      }
    }
  }

  .mobile-menu {
    position: relative;
    display: none;
    flex-flow: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    align-items: center;

    span {
      display: block;
      width: 100%;
      height: 20%;
      background: #fff;
      transition: all .5s ease;
    }
  }

  &.show-mobile {
    .mobile-menu {
      span {
        transition: all .5s ease;


        &:first-child {
          transform: translate(0px, 10px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: scale(0, 1);
        }

        &:last-child {
          transform: translate(0px, -6px) rotate(-45deg);
        }
      }
    }
  }
}


.main-wrapper {
  //height: calc(100vh - 100px);
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  //margin-bottom: $footer-height * (-1);

  //.push {
  //  height: $footer-height;
  //}
}


.footer-section {
  width: 100%;
  position: relative;
  background: linear-gradient(271.17deg, #458393 19.13%, #0A5E74 88.39%);
  z-index: 1;
  margin-top: 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
  color: #fff;

  .logo {
    opacity: 1;

    img {
      width: 149px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li.active {
      .item {
        opacity: 1;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: .5;
    padding: 0 15px;
    height: 64px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
      transition: all .5s ease;
    }
  }

  .set-locale {
    margin-left: 100px;
  }

  .btn-lang {
    justify-content: space-between;
    width: 65px;
    height: 64px;
    color: #fff;
    font-weight: 400;
    padding: 0;
  }

  .icon-globe {
    width: 18px;
    height: 18px;
    fill: #A8BFC5;
  }

  .icon-arrow_down {
    width: 8px;
    height: 8px;
  }
}


//
//.navbar-brand{
//  margin-top: 8px;
//}
//
//.btn-info-new{
//  background: #016d84;
//  border-radius: 2px;
//  text-transform: uppercase;
//  color: #fff;
//  font-weight: bold;
//  font-size: 12px;
//  padding: 6px 18px;
//}
//
//.btn-info-new:hover{
//  background: #08487e;
//  color: #fff;
//}
//
//.btn-default-new{
//  background: #686d7a;
//  border-radius: 2px;
//  text-transform: uppercase;
//  color: #fff;
//  font-weight: bold;
//  padding: 6px 18px;
//  font-size: 12px;
//}
//
//.btn-default-new:hover{
//  background: #535761;
//  color: #fff;
//}
//
//.btn-inline-new{
//  background: none;
//  border-radius: 2px;
//  text-transform: uppercase;
//  color: #fff;
//  font-weight: bold;
//  padding: 10px 22px;
//  font-size: 12px;
//  border: 2px solid #fff;
//}
//
//.btn-inline-new:hover{
//  background: #fff;
//  color: rgb(11, 96, 169);
//}
//
//.btn-group-block .btn{
//  margin-top: 20px;
//  margin-right: 25px;
//}
//
//.wrap{
//  padding: 80px 0;
//}
//
//.page-header-block{
//  text-align: right;
//}
//
//.page-header-block p{
//  text-transform: uppercase;
//  font-size: 14px;
//  font-weight: 500;
//}
//
//.page-header-block h3{
//  text-transform: uppercase;
//  margin-top: 0;
//  line-height: 32px;
//}
//
//.default-form label{
//  font-weight: 400;
//}
//
//.default-form input, .default-form textarea{
//  border-radius: 2px;
//  box-shadow: none;
//  border: 1px solid rgba(0, 0, 0, .1);
//  color: #333;
//}
//
//.default-form textarea{
//  max-width: 100%;
//}
//

//
//.hero-carousel {
//  min-height: 550px;
//}
//
//.hero-carousel .container{
//  position: relative;
//  height: 100%;
//}
//
//.hero-carousel, .carousel, .carousel-inner, .carousel-inner .item{
//  height: 100%;
//}
//
//.hero-carousel .carousel-control{
//  width: 7%;
//}
//
//.hero-carousel .carousel-caption-new{
//  position: absolute;
//  top: 50%;
//  width: 100%;
//  transform: translateY(-50%);
//  bottom: initial !important;
//  color: #fff;
//}
//
//.hero-carousel .carousel-caption-new h1{
//  font-size: 50px;
//  line-height: 70px;
//  margin-top: 0;
//  letter-spacing: 1px;
//  text-transform: uppercase;
//}
//
//.hero-carousel .carousel-caption-new h1:after{
//  width: 85px;
//  margin-top: 10px;
//  margin-bottom: 10px;
//  content: " ";
//  display: block;
//  border-top: 3px solid #016d84;
//}
//
//.hero-carousel .carousel-caption-new .pull-left{
//  text-align: left;
//  width: 40%;
//}
//
//.hero-carousel .carousel-caption-new .pull-left .subtitle{
//  font-size: 19px;
//  padding: 3px 0;
//  line-height: 35px
//}
//
//.hero-carousel .carousel-caption-new .pull-right{
//  position: absolute;
//  width: 40%;
//  height: 100%;
//  right: 30px;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker{
//  background-color: rgba(0, 0, 0, .4);
//  border-radius: 2px;
//  padding: 5px 15px 15px 15px;
//  position: absolute;
//  right: 0;
//  width: 100%;
//  top:50%;
//  transform: translateY(-50%);
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker h4{
//  margin-bottom: 5px;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker span{
//  font-size: 12px;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group:first-of-type{
//  margin-top: 15px;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group label{
//  font-weight: 300;
//  text-transform: uppercase;
//  margin-top: 15px;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group input{
//  border-radius: 2px;
//  border: 1px solid rgba(255, 255, 255, .1);
//  background: rgba(255, 255, 255, 0.2);
//  padding: 10px 8px 10px 50px;
//  color: #fff;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group .intl-tel-input .selected-flag .iti-arrow{
//  border-top-color: #fff !important;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group .country-name{
//  color: #000;
//}
//
//.hero-carousel .carousel-caption-new .pull-right .search-slider-tracker .form-group input:focus{
//  -webkit-box-shadow: inset 5px 0px 0px 0px rgba(19, 96, 169, 1);
//  -moz-box-shadow:    inset 5px 0px 0px 0px rgba(19, 96, 169, 1);
//  box-shadow:         inset 5px 0px 0px 0px rgba(19, 96, 169, 1);
//}
//
//.hero-carousel .carousel-indicators{
//  bottom: 0 !important;
//}
//
//.hero-carousel .carousel-indicators li{
//  width: 90px;
//  height: 1px;
//  border: none;
//  background: rgba(255, 255, 255, 0.5);
//  margin: 0;
//}
//
//.hero-carousel .carousel-indicators li.active{
//  background: #016d84;
//  height: 3px;
//}
//
//
//
//
//.after-hero-block{
//  background: #016d84;
//  padding: 20px 0;
//  color: #fff;
//}
//
//.after-hero-block .left-border{
//  border-left: 1px solid rgba(255, 255, 255, .1);
//}
//
//.after-hero-block .icon{
//  width: 64px;
//  font-size: 30px;
//  padding-left: 15px;
//}
//
//.after-hero-block .content p{
//  font-size: 12px;
//  margin-bottom: 5px;
//}
//
//
//
//
//.our-services-block{
//  padding: 65px 0;
//}
//
//.our-services-block{
//  position: relative;
//}
//
//.our-services-block .bg-car{
//  position: absolute;
//  max-width: 300px;
//  bottom: -50px;
//}
//
//.our-services-block .desc-block{
//  text-align: right;
//}
//
//.our-services-block .desc-block h4{
//  margin-top: -2px;
//  font-size: 15px;
//}
//
//.our-services-block .desc-block h3{
//  margin: 15px 0 30px 0;
//}
//
//.our-services-block .service-block{
//  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(0, 0, 0, .125);
//  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(0, 0, 0, .125);
//  padding: 35px 15px 35px 30px;
//  margin-bottom: 25px;
//}
//
//.our-services-block .service-block:last-child{
//  margin-bottom: 0;
//}
//
//.our-services-block .service-block .icon{
//  width: 55px;
//  font-size: 30px;
//  color: #016d84;
//}
//
//.our-services-block .service-block .content{
//  width: calc(100% - 55px);
//}
//
//.our-services-block .service-block .content h4{
//  font-size: 16px;
//  margin-bottom: 15px;
//}
//
//.our-services-block .service-block .content p{
//  font-size: 13px;
//  line-height: 25px;
//  margin-bottom: 0;
//}
//
//
//
//.our-customers-block .desc-block{
//  color: #fff;
//  text-align: right;
//}
//
//.our-customers-block .desc-block h4{
//  font-size: 15px;
//  margin-top: 2px;
//}
//
//.our-customers-block .desc-block h3{
//  margin: 15px 0 30px 0;
//}
//
//.our-customers-block .testimonial-block{
//  background-color: rgba(255, 255, 255, .07);
//  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(0, 0, 0, .125);
//  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(0, 0, 0, .125);
//  padding: 35px 30px 35px 30px;
//  color: #fff;
//}
//
//.our-customers-block .testimonial-block .content p{
//  font-size: 14px;
//  line-height: 25px;
//}
//
//.our-customers-block .testimonial-block .icon{
//  width: 55px;
//  font-size: 30px;
//  color: #fff;
//}
//
//.our-customers-block .testimonial-block .content{
//  width: calc(100% - 55px);
//}
//
//.our-customers-block .author-testimonial{
//  margin-top: 35px;
//  text-align: right;
//  display: none;
//}
//
//.our-customers-block .author-testimonial p{
//  margin-top: 0;
//  margin-bottom: 0;
//}
//
//.our-customers-block .author-testimonial p:last-child{
//  font-size: 11px;
//}
//
//@media (max-width:767px) {
//
//  .our-customers-block .customers-logotypes .col-sm-2:first-child{
//    margin-top: 75px;
//  }
//
//  .our-customers-block .customers-logotypes .left-border{
//    border-left: 1px solid rgba(255, 255, 255, .1);
//    margin-top: 100px;
//    margin-bottom: 80px;
//  }
//
//}
//
//.our-customers-block .customers-logotypes .col-sm-2:last-child{
//  margin-bottom: 25px;
//}
//
//.our-customers-block .customers-logotypes img{
//  width: 100%;
//}
//
//
//
//
//.stats-block{
//  position: relative;
//  padding-top: 75px;
//}
//
//.stats-block .container{
//  position: relative;
//}
//
//.stats-block .stats-bg{
//  max-width: 300px;
//  top: -130px;
//  right: 0;
//  position: absolute;
//}
//
//.stats-block .desc-block{
//  text-align: right;
//}
//
//.stats-block .desc-block h4{
//  margin-top: 3px;
//}
//
//.stats-block .desc-block h3{
//  margin: 15px 0 30px 0;
//}
//
//.stats-block .stats-desc{
//  font-size: 14px;
//  line-height: 25px;
//  margin-top: 0;
//}
//
//.stats-block .stats-counters{
//  padding: 75px 0 115px 0;
//  text-align: center;
//}
//
//.stats-block .stats-counters h3{
//  color: #016d84;
//  font-size: 50px;
//  font-weight: 400;
//}
//
//.stats-block .stats-counters h4{
//  color: #000;
//  font-size: 16px;
//}
//
//
//
//.we-top-block{
//  background-image: url(//cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/10/shutterstock_147692165-tinted.jpg);
//  background-position: 50% 50%;
//  padding: 120px 0;
//}
//
//.we-top-block .desc-block{
//  color: #fff;
//  text-align: right;
//}
//
//.we-top-block .desc-block h4{
//  font-size: 15px;
//  margin-top: 2px;
//}
//
//.we-top-block .desc-block h3{
//  margin: 15px 0 30px 0;
//}
//
//.we-top-block .desc-block p{
//  line-height: 30px;
//}
//
//.we-top-block .progress-block{
//  color: #fff;
//}
//
//.we-top-block .progress-block label{
//  text-transform: uppercase;
//  font-weight: 500;
//}
//
//.we-top-block .progress-block .progress{
//  border-radius: 0;
//  height: 24px;
//  background-color: rgba(255, 255, 255, .07);
//}
//
//.we-top-block .progress-block .progress:last-child{
//  margin-bottom: 0;
//}
//
//.we-top-block .progress-block .progress .progress-bar{
//  box-shadow: none;
//  background: #016d84;
//  text-align: right;
//  padding-right: 10px;
//  padding-top: 2px;
//}
//
//
//
//.create-tracker-block{
//  background: #016074;
//  padding: 40px 0;
//  color: #fff;
//}
//
//.create-tracker-block h3, .create-tracker-block h5{
//  margin-bottom: 0;
//  margin-top: 0;
//}
//
//.create-tracker-block h3{
//  font-size: 20px;
//  margin-top: 5px;
//}
//
//.create-tracker-block h5{
//  font-size: 13px;
//}
//
//
//.before-footer-block{
//  background: #016d84;
//  padding: 40px 0;
//  color: #fff;
//}
//
//.before-footer-block .footer-block h4{
//  text-transform: uppercase;
//  color: #02a7ca;
//}
//
//.before-footer-block .footer-block h4:after{
//  display: block;
//  content: " ";
//  border-top: #fff 3px solid;
//  width: 50px;
//  margin-top: 10px
//}
//
//.before-footer-block .footer-block .media .media-left .media-object{
//  width: 64px;
//}
//
//.before-footer-block .footer-block .media .media-body h3{
//  color: #fff;
//  font-size: 13px;
//  margin-top: 0;
//  line-height: 18px;
//}
//
//.before-footer-block .footer-block .media .media-body p{
//  color: #fff;
//  font-size: 12px;
//}
//
//.before-footer-block .footer-block .footer-nav{
//  padding-left: 0;
//}
//
//.before-footer-block .footer-block .footer-nav li{
//  list-style-type: none;
//  width: 50%;
//  float: left;
//  line-height: 30px;
//}
//
//.before-footer-block .footer-block .footer-nav li a{
//  color: #fff;
//  font-size: 13px;
//}
//
//footer{
//  border-top: 1px solid rgba(128, 128, 128, .1);
//  background: #016d84;
//  color: #fff;
//  padding: 15px;
//  font-size: 12px;
//}
//
//.circle-step{
//  width: 65px;
//  height: 65px;
//  border-radius: 50%;
//  position: relative;
//  margin-top: -10px;
//}
//
//.step-counter{
//  position: absolute;
//  top:50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  font-size: 25px;
//  font-weight: 500;
//  color: #fff;
//}
//
//.circle-step.step-success{
//  background: #4CAF50;
//}
//
//.circle-step.step-default{
//  background: #607d8b;
//}
//
//.circle-step.step-info{
//  background: #016d84;
//}
//
//.stepper{
//  margin-top: 35px;
//}
//
//.circle-status-step{
//  width: 50px;
//  height: 50px;
//  background: #fff;
//  border: 2px solid #efefef;
//  border-radius: 50%;
//  position: relative;
//  margin-top: 5px;
//}
//
//.status-icon{
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  font-size: 25px;
//}
//
//.status-icon .fa-check{
//  color: #4CAF50;
//}
//
//.form-group.required label:after {
//  content:"*";
//  color:red;
//  font-weight: bold;
//}
//
//.set-locale{
//  margin-top: 8px;
//}
//
//.set-locale .btn{
//  background: none;
//  border: none;
//  text-transform: uppercase;
//  color: rgba(255, 255, 255, 0.5);
//  font-weight: 500;
//}
//
//.set-locale .dropdown-menu{
//  background: #016d84 !important;
//  border-color: #016d84;
//  color: #fff;
//}
//
//.set-locale-links li a:hover{
//  color: #000 !important;
//}
//
//
//
//
//
//
//
//
//.before-footer-block .col-sm-3, .testimonial-block{
//  margin-bottom: 25px;
//}
//
//@media (max-width: 767px) {
//
//  .navbar-brand{
//    margin-top: 0 !important;
//    padding-top: 20px !important;
//    padding-left: 20px !important;
//  }
//
//  .navbar-toggle{
//    margin-top: 25px;
//  }
//
//  div#bs-example-navbar-collapse-1.navbar-collapse{
//    margin-top: 30px !important;
//  }
//
//  .hero-carousel .carousel-caption-new .pull-left{
//    width: 80% !important;
//    margin-left: 10% !important;
//  }
//  .hero-carousel .carousel-caption-new h1{
//    font-size: 28px;
//    line-height: 34px;
//  }
//  .hero-carousel .carousel-caption-new .pull-left .subtitle{
//    font-size: 14px;
//    line-height: 20px;
//  }
//  .hero-carousel .carousel-caption-new .pull-left p{
//    font-size: 15px !important;
//  }
//  .hero-carousel .carousel-indicators li{
//    width: 45px;
//  }
//  .we-top-block .desc-block, .stats-block .desc-block, .our-customers-block .desc-block, .our-services-block .desc-block, .page-header-block{
//    text-align: left;
//  }
//  .create-tracker-block .btn-inline-new{
//    width: 100%;
//    margin-top: 20px;
//  }
//  div#bs-example-navbar-collapse-1.navbar-collapse{
//    background: #016d84;
//    margin-top: 50px;
//    border-top: none;
//  }
//  .our-services-block .col-sm-4{
//    margin-bottom: 25px;
//  }
//  .customers-logotypes img{
//    width: 70% !important;
//    margin-left: 15%;
//  }
//  .set-locale .btn, .set-locale .dropdown-menu{
//    background: none !important;
//    border: none !important;
//    text-transform: uppercase;
//  }
//  .set-locale-links a{
//    color: #fff !important;
//  }
//}
//
//@media (max-width: 991px) and (min-width: 768px) {
//  .hero-carousel .carousel-caption-new .pull-left{
//    width: 80% !important;
//    margin-left: 10% !important;
//  }
//  .our-services-block .col-sm-8{
//    margin-bottom: 25px;
//  }
//}
//
//.profile-icon:hover .fa{
//  color: rgba(255, 255, 255, 0.5) !important;
//}
//
//.mini-profile-link{
//  margin-top: 8px;
//  margin-right: 10px;
//}
//
//.mini-profile-link .dropdown .btn-default{
//  background: #016d84 !important;
//  border: none;
//}
//
//.mini-profile-link .dropdown-menu{
//  background: #016d84 !important;
//}
//
//.mini-profile-link .dropdown-menu li{
//  margin-top: 10px;
//  margin-bottom: 10px;
//}
//
//.mini-profile-links li{
//  padding: 0 !important;
//}
//
//.mini-profile-links li a{
//  padding: 10px 15px !important;
//  display: block;
//}
//
//.mini-profile-links li:hover{
//  background: #016d84 !important;
//}
//
//.mini-profile-links h4{
//  color: #016d84 !important;
//}
//
//@media (max-width: 767px) and (max-height: 600px) {
//  #bs-example-navbar-collapse-1  {
//    overflow-y: scroll !important;
//    max-height: 250px !important;
//  }
//}
//
//.btn-secondary-with-border{
//  border-color: #67696d;
//  padding: 0 5px;
//}

@media (max-width: 767px) {
  .bootstrap-select .dropdown-menu {
    max-height: 288px !important;
  }
}

@media only screen and (max-width: 464px) {
  .fake-input-file {
    background-image: url(/img/fake-file-input-button-short.png);
    padding-right: 75px;

    .select-file {
      display: none;
    }
  }
}

@media (max-width: 413px) {
  .card {
    padding: 20px 25px;
  }
}

input[type=number]:not(.quantity-field)::-webkit-inner-spin-button,
input[type=number]:not(.quantity-field)::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
