

@media only screen and (max-width: 1366px) {

  .container {
    width: 1000px;
  }
  .navigation {
    .item {
      font-size: 13px;
      padding: 0 12px;
    }
    .logo {
      img {
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {

  .navigation .item{
      justify-content: flex-start;

      font-family: $Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;
      text-transform: none;
      opacity: 1;

      color: #333333;

      padding: 0;
      height: auto;
  }

  .navigation {

    .menu {
      display: none;
      position: absolute;
      flex-flow: column;
      right: 0;
      top: 0;
      width: 205px;
      background: #fff;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(0);
      transition: all .5s ease;

      & > * {
        width: 100%;
        opacity: 0;
        transform: translateY(-100%);
        transition: all .5s ease;
      }
    }

    .set-locale {
      display: none;
    }

    .login {
      margin-right: 20px;
    }

    .mobile-menu {
      display: flex;
      z-index: 999;
    }

    //&.show-mobile {
    //  .menu {
    //    opacity: 1;
    //    visibility: visible;
    //    transform: translateY(64px);
    //    pointer-events: auto;
    //    transition: all .5s ease;
    //
    //    & > * {
    //      opacity: 1;
    //      transform: translateY(0);
    //      transition: all .5s ease;
    //    }
    //  }
    //}
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: auto;
  }
  .footer {
    .menu {
      & > li:not(:last-child) {
        display: none;
      }
      .set-locale {
        margin-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .header-section {
    top: 20px;
  }
  .navigation {
    .login .btn {
      i {
        padding: 0;
      }
      span {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .navigation {
    .btn-profile {
      min-width: auto;
      span {
        width: 60px;
      }
    }
  }
}


@media only screen and (max-height: 375px) {
  .navigation .item {
    height: 40px;
  }
}