@import "./base/variables.scss";

.sing-page {

	&__wrapp {
		max-width: 500px;
		transition: $expo;
	}

	&__title{
		font-family: $Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 1;
		margin: 0 0 35px 0;

		color: $c-volun-blue;
	}

	&__wrapp:hover{
		box-shadow: 0px -1px 20px rgba(10, 96, 117, 0.33);
	}
}

.login-page{

	&__footer{
		border-top: 1px solid #F2F2F2;
		margin-top: 30px;
		padding-top: 30px;
	}

  &__btn{
	  display: flex;
	  justify-content: space-between;
	  align-items: center;

	  @include max-to(sm) {
		  display: block;
		  margin-top: 30px;
	  }
  }

	&__btn .btn-custom {

		@include max-to(sm) {
			width: 100%;
			margin: 15px 0;
		}
	}
}

.link-reset{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	transition: $ease-out;

	&:focus,
	&:hover{
		text-decoration: none;
		color: $c-btn-yellow;
	}
}