.create-trackers-wrapper {

  input[type=number]:not(.quantity-field)::-webkit-inner-spin-button,
  input[type=number]:not(.quantity-field)::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }

  input[type=number] {
	-moz-appearance:textfield;
  }



  &.create-trakers-card {
	max-width: 900px;
	overflow: hidden;

	.card-header {
	  text-align: left;
	  color: #000;
	  font-weight: bold;
	  font-size: 27px;
	}

	.card-body {
	  #tracker-form-total {
		h2 {
		  display: none;
		}

		.steps {
		  margin-left: -55px;
		  margin-right: -55px;
		  height: 58px;
		  border-top: 1px solid #F2F2F2;
		  border-bottom: 1px solid #F2F2F2;
		  margin-bottom: 22px;

		  ul {
			list-style: none;
			padding: 0 55px;

			li {
			  display: inline-block;
			  width: 20%;
			  font-weight: 500;
			  padding-top: 13px;
			  height: 58px;
			  background: url(/img/tracker/traker-create-step-corner.png) right 14px center no-repeat;

			  &:last-child {
				background: none;
			  }

			  a {
				text-decoration: none;
			  }

			  .title {
				display: flex;
				align-items: center;
				width: 100%;
			  }

			  .step-icon {
				display: block;
				float: left;
				background: url(/img/tracker/tracker-create-step-circle.png) 0 0 no-repeat;
				width: 28px;
				height: 28px;
				color: #BDBDBD;
				font-size: 14px;
				text-align: center;
				line-height: 28px;
				margin-right: 10px;
			  }

			  &.done .step-icon {
				background-image: url(/img/tracker/tracker-create-step-circle-done.png);
				color: #fff;
			  }

			  .step-text {
				text-transform: uppercase;
				display: block;
				float: left;
				width: 95px;
				line-height: 13px;
				color: #BDBDBD;
				font-size: 10px;
			  }

			  &.current {
				.step-icon {
				  color: $brand-danger;
				  background: url(/img/tracker/tracker-create-step-circle-current.png) 0 0 no-repeat;
				}

				.step-text {
				  color: $brand-primary;
				}
			  }
			}
		  }
		}

		.step {
		  .panel, .panel-body, .panel-heading {
			padding: 0;
			border: none;
			box-shadow: none;
		  }

		  .panel-body {
			padding-bottom: 25px;
		  }

		  .panel-heading {
			margin-bottom: 25px;

			h5 {
			  font-size: 24px;
			  color: $brand-primary;
			}
		  }
		}


		.separator {
		  height: 1px;
		  border-bottom: 1px solid #F2F2F2;
		  margin: 30px -55px;
		}

		  .row.file-block {
			  margin: 0;
		  }

		.remove-one-more,
		.add-one-more {
		  display: block;
		  width: 48px;
		  height: 48px;
		  cursor: pointer;
		}

		.add-one-more {
		  background: url(/img/tracker/tracker-add-cargo-btn.png) 0 0 no-repeat;
		}

		.remove-one-more {
		  background: url(/img/tracker/tracker-remove-cargo-btn.png) 0 0 no-repeat;
		}

		.row-cargo {
		  .remove-one-more,
		  .add-one-more {
			margin-left: -17px;
		  }
		}

		.cargo-chars-count {
		  display: inline-block;
		  margin-top: 5px;
		  color: #BDBDBD;
		}

		.add-one-more-receptacle {
		  background: url(/img/icons/plus-gray-icon.png) 20px 16px no-repeat #fff;
		  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
		  border-radius: 3px;
		  width: 192px;
		  padding-left: 38px;
		  line-height: 34px;

		  &:hover {
			color: inherit;
		  }
		}

		.required-info {
		  border-bottom: 1px solid #F2F2F2;
		  margin-top: 20px;
		  padding-bottom: 10px;
		  width: 100%;

		  .text {
			background: #fff;
			margin-bottom: -9px;
			width: 100%;
		  }
		}
	  }
	}

	.departures {
	  .departure-item {
		position: relative;
		display: inline-block;
		height: 38px;
		border-radius: 80px;
		margin-left: 10px;
		width: 38px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: #333;
		background-color: rgba(10, 94, 116, 0.05);;
		text-align: center;

		.number {
		  display: inline-block;
		}

		&.opened {
		  padding-left: 20px;
		  padding-right: 20px;
		  width: auto;
		  background-color: #fff;
		  border: 2px solid #bcced4;
		  color: $brand-primary;

		  .text {
			display: inline-block;
		  }
		}

		.text {
		  display: none;
		}

		.close-trigger {
		  background: url(/img/icons/orange-close-trigger.png) 0 0 no-repeat;
		  position: absolute;
		  top: -5px;
		  right: -3px;
		  height: 12px;
		  width: 12px;
		}

	  }
	}

	.actions {
	  padding-top: 25px;
	  border-top: 1px solid #F2F2F2;

	  li {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
	  }

	  li[aria-disabled="false"] {
		opacity: inherit;
	  }

	  .previous {
		width: 140px;
		height: 56px;
		color: #0A5E74;
		background: #FFFFFF;
		border-radius: 3px;

		&:hover {
		  color: inherit;
		}
	  }
	}

	.panel-heading.position {
	  background: rgba(10, 94, 116, 0.08);
	  margin-left: -55px;
	  padding-left: 55px !important;
	  height: 42px;
	  line-height: 42px;
	  font-size: 16px;
	  color: #333333;

	  &:not(.number-1) {
		border-radius: 0px 80px 80px 0px;
	  }

	  &.number-1 {
		margin-right: -55px;
	  }
	}
  }


  .typeTransport {
	margin: 0 -15px;

	label {
	  position: relative;
	  display: inline-block;
	  width: 172px;
	  height: 159px;
	  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
	  border-radius: 3px;
	  margin: 0 15px;
	  color: $brand-primary;
	  text-transform: uppercase;

	  background-repeat: no-repeat;
	  background-position: center 34px;

	  &.card-transport-1 {
		background-image: url(/img/tracker/tracker-air-icon.png);

		&.checked {
		  background-image: url(/img/tracker/tracker-air-active-icon.png);
		}
	  }

	  &.card-transport-2 {
		background-image: url(/img/tracker/tracker-water-icon.png);

		&.checked {
		  background-image: url(/img/tracker/tracker-water-active-icon.png);
		}
	  }

	  &.card-transport-3 {
		background-image: url(/img/tracker/tracker-road-icon.png);

		&.checked {
		  background-image: url(/img/tracker/tracker-road-active-icon.png);
		}
	  }

	  &.card-transport-4 {
		background-image: url(/img/tracker/tracker-train-icon.png);

		&.checked {
		  background-image: url(/img/tracker/tracker-train-active-icon.png);
		}
	  }

	  &.checked {
		background-color: #F1774F;
		color: #fff;
	  }

	  .text {
		font-size: 14px;
		bottom: 26px;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	  }

	}
  }

  .panel-danger {
	background: url(/img/icons/danger-info-icon.png) 20px 20px no-repeat #fdf1f2;
	border-radius: 3px;
	padding: 20px 20px 20px 70px !important;

	.panel-heading {
	  background: none;
	  color: #EB5757;
	  padding: 0 !important;
	  margin-bottom: 15px !important;
	}

	.panel-body {
	  padding: 0 !important;

	  a {
		color: #2F80ED;
	  }
	}

  }
}

.tracker-form{

	&_pt{
		padding-top: 128px;
	}
}


@media only screen and (max-width: 928px) {

  .create-trackers-wrapper {
	.typeTransport {
	  margin: 0 auto;
	  width: 412px;
	}

	.typeTransport .type-item {
	  margin-bottom: 20px;
	}
  }
}

@media only screen and (max-width: 767px) {
  .create-trackers-wrapper {
	.row-cargo {
	  margin-bottom: 20px;

	  .remove-cargo-block {
		margin-left: 0 !important;
	  }
	}

	.sender-files-container {
	  .col-sm-1 label {
		display: none;
	  }
	}
  }

  .recipient-files-container {
	.col-sm-1 label {
	  display: none;
	}
  }
}


@media only screen and (max-width: 548px) {
  .create-trackers-wrapper {
	.typeTransport {
	  width: 100%;

	  .type-item {
		width: 40%;
	  }
	}
  }
}

@media only screen and (max-width: 457px) {
  .create-trackers-wrapper {
	.typeTransport {
	  .type-item {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 172px;
	  }
	}
  }
}

@media only screen and (max-width: 413px) {
  .create-trackers-wrapper.create-trakers-card {
	.panel-heading.position.number-1 {
	  margin-right: -25px;
	}

	.panel-heading.position {
	  margin-left: -25px;
	  padding-left: 25px !important;
	}
  }
}

@media screen and (max-width: 600px) {
  .card-transport-3 {
    visibility: hidden;
    display: none;
    height: 0!important;
  }
  .card-transport-4 {
    visibility: hidden;
    display: none;
    height: 0!important;
  }
}