/* TRACKERS HISTORY PAGE */

@import "./base/variables";
@import "./base/mixins";
$c-active-bg: #EAF0F2;

$link-dark-color: #4f4f4f;
$active-border-color: #f1774f;
$border-color-light: #f5f5f5;

.function-list-section{

	@include max-to(lg) {
		display: none;
	}

	&_height{
		//min-height: calc(100vh - 64px);
		//max-height: calc(100vh - 64px);
		height: calc(100vh - 64px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	&_shadow{
		position: relative;
		z-index: 0;
	}

	&_shadow::before{
		content: '';
		width: 100%;
		height: 100%;
		//box-shadow: inset 0px -6px 20px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		pointer-events: none;
	}
}

.trackers-history-page {
	overflow: hidden;

	&__col-2{
		width: 16.66666667%;

		@include max-to(lg) {
			width: 0;
		}
	}

	&__col-4{
		width: 33.33333333%;

		@include max-to(lg) {
			width: 100%;
		}
	}

	&__col-6{
		width: 50%;

		@include max-to(lg) {
			width: 0%;
		}
	}

    .function-list-section {
		overflow-y: auto;
      background: #fbfbfb;
      border-right: 1px solid $border-color-light;
      padding: 0;
      //box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
      z-index: 1;

	.list-group-item {
	  border-color: $border-color-light;
	  border-left: 4px solid #fbfbfb;
	  border-right: none;
	  cursor: pointer;
	  line-height: 1;
	  background-color: #FBFBFB;
	  background-position: 30px center;
	  background-repeat: no-repeat;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 22px 0 22px 30px;

		@include max-to(xl) {
			padding: 22px 0 22px 15px;
		}

	  &.active {
		background-color: #ebf0f2;
		border-left-color: $active-border-color;

		> a {
		  color: $brand-primary;
		}
	  }

	  &:last-child {
		border-bottom: none;
	  }

	  &.create-tracker {
		background-image: url(/img/icons/plus-white-icon.png);
		background-color: $active-border-color;
		background-position-x: 33px;
		border-color: $active-border-color;

		  @include max-to(xl) {
			  background-position-x: 15px;
		  }

		a {
		  color: #fff;
		}
	  }

	  //&.tag-friend {
		//background-image: url(/img/icons/tag-friend-icon.png);
		//  background-position: 35px 16px;
	  //}

	  .list {
		list-style: none;
		padding: 0 0 0 44px;

		  @include max-to(xl) {
			  padding: 0 0 0 34px;
		  }

		  & a{
			  font-family: $Roboto;
			  font-style: normal;
			  font-weight: 400;
			  font-size: 14px;
			  line-height: 22px;

			  color: #4F4F4F;
		  }

		.list-item:hover a {
		  color: $brand-primary;
		}
	  }

	  a {
		display: inline-block;
		color: $link-dark-color;
		font-size: 14px;
		text-decoration: none;
		line-height: 24px;
		vertical-align: middle;
		width: calc(100% - 70px);

		  @include max-to(xl) {
			  width: calc(100% - 60px);
		  }
	  }
	}
  }

  .map-section {
	position: relative;
	padding: 0;

	  @include max-to(lg) {
		  display: none;
	  }
  }

  .history-section {
	background: #fff;
	padding: 0;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);

	  @include max-to(lg) {
		  width: 100%;
		  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0);
	  }

	.map-trigger {
	  position: absolute;
	  left: -164px;
	  top: 60px;
	  width: 154px;
	  height: 46px;
	  color: $brand-primary;

	  &.show-map-trigger {
		display: none;
		position: absolute;
		top: 18px;
		left: 22px;
	  }

	  img {
		margin-right: 6px;
	  }

	}

	.tab-content .caption {
	  color: #333;
	  font-size: 24px;
	  font-weight: bold;
	  text-align: center;

		@include max-to(sm) {
			font-size: 18px;
		}
	}

	#current-orders .caption {
	  position: relative;
	  padding: 30px;
	}

	.table {
	  td {
		i.circle {
		  border-radius: 50%;
		  display: inline-block;
		  height: 12px;
		  margin-bottom: -2px;
		  margin-right: 2px;
		  width: 12px;
		}

		&.status-checked {
		  color: #27ae60;

		  i {
			background: #6fcf97;
		  }
		}

		&.status-moderation {
		  color: #f2c94c;

		  i {
			background: #f2c94c;
		  }
		}


	  }

	}

  }

  table.table {
	th {
	  color: $text-color;
	  font-weight: normal;
	}

	td {
	  color: #000;
	}

	td.pointed-menu-wrapper {
	  padding-left: 0;
	}

	td, th {

		border-top: none;
		border-bottom: 1px solid $border-color-light;

		padding: 8px 8px;
		font-size: 14px;
		vertical-align: middle;

		@include max-to(xl) {
			font-size: 12px;
			vertical-align: middle;
		}
	}
  }

  .show-block:hover .arrow_box{
    display:block;
    margin: 0 auto;
  }

  .pointed-menu-wrapper {

	.dropdown img {
	  display: block;
	  margin: 0 auto;
	}

	.dropdown-menu {
      height: auto;
	  width: 151px;
	  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
	  border-radius: 3px;
	  padding: 7px 8px;
	  margin-top: 12px;
	  margin-right: -4px;
	}

	.dropdown-menu > li {

	  &.item a:hover, a {
		background-repeat: no-repeat;
		background-position: 0 center;
		padding-left: 25px;
	  }

	  &.edit a {
		background-image: url(/img/icons/edit-icon.png);
	  }

	  &.edit a:hover {
		background-image: url(/img/icons/edit-icon.png);
	  }

	  &.print a {
		background-image: url(/img/icons/printer-icon.png);
	  }

	  &.print a:hover {
		background-image: url(/img/icons/printer-active-icon.png);
	  }

	  &.remove a {
		background-image: url(/img/icons/remove-icon.png);
	  }

	  &.remove a:hover {
		background-image: url(/img/icons/remove-icon.png);
	  }

	}


	.dropdown-menu > li > a:hover {
	  background: #fff;
	  color: $brand-primary;
	}
  }

  .nav-tabs {
	.nav-item {
	  border: 1px solid $border-color-light;
	  border-right-width: 0;
	  height: 60px;
	  line-height: 60px;
	  text-align: center;
	  padding: 0;

	  &:last-child {
		border-right-width: 1px;
	  }

	  &.active {
		background: #fff;
		border-bottom-color: $active-border-color;
		border-bottom-width: 4px;

		.nav-link {
		  color: $brand-primary;
		}
	  }

	  .nav-link {
		font-weight: 500;
		background: none;
		border: none !important;
		color: $link-dark-color;
		display: inline-block;
		vertical-align: middle;
	  }
	}
  }

  .tab-content .tab-pane {
  }
}

.arrow_box {
  background: #ffffff;
  border: 10px solid #fff;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  right: -11px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 17px;
}

.history-section td a{
	position: relative;
	display: inline-block;
	width: 100%;
}

.history-section td a:hover,
.history-section td a:focus{
	text-decoration: none;
}

.history-section__header{
	display: none;
	border-bottom: 1px solid #f5f5f5;
	//margin-bottom: 15px;
	text-align: center;
	padding: 30px 0;
}

.history-section_list{
	color: #333;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 30px;

	@include max-to(xs){
		font-size: 18px;
	}

	&:hover,
	&:focus{
		text-decoration: none;
	}
}

.history-section__tab{
	width: 100%;
}

.history-section__tab .collapse{
	display: block;
}

.history-section__tab .collapse.in{
	display: block;
}

/* /TRACKERS HISTORY PAGE */


/* RESPONSIVE */

@media not all and (min-resolution: .001dpcm) {
  .col-lg-4 {
	width: 33.2% !important;
  }
}

@media only screen and (min-width: 1200px) {

  .trackers-history-page {
	.row {
	  display: flex;
	  flex-wrap: wrap;
	}

	//.row > [class*='col-'] {
	//  display: flex;
	//  flex-direction: column;
	//}

	.function-list-section .list-group .list-group-item {
	  border-radius: 0;
	  position: relative;
		z-index: 0;

	  //&:hover .list {
		//display: block;
	  //}

	  .list {
		//display: none;
		//box-shadow: inset 20px 0 35px -31px rgba(0, 0, 0, 0.45);
		//position: absolute;
		//right: -115px;
		//top: -1px;
		//width: 114px;

	  }
	}
  }
}

@media only screen and (max-width: 1200px) {
  .function-list-section .list-group {
	margin-bottom: 0;
  }
  .history-section .table td {
	padding-left: 8px;
	padding-right: 8px;
  }
}

@media only screen and (max-width: 767px) {
	.history-section__header{
		display: block;
	}

	.history-section__tab .collapse{
		display: none;
	}
}

//@media only screen and (max-width: 1366px) {
//  .services-block {
//	.service-block {
//	  margin-right: 20px;
//	  width: 300px;
//	}
//  }
//}
//
//@media only screen and (max-width: 960px) {
//  .main-section {
//	height: auto;
//  }
//  .search-block {
//	width: 100%;
//	margin: 120px auto 50px;
//
//	.form_group {
//	  position: relative;
//	  margin-bottom: 20px;
//	}
//
//	.search-info {
//	  justify-content: center;
//	  text-align: center;
//	}
//
//	.main-form {
//	  flex-flow: column;
//	  height: 100%;
//	}
//
//	.btn-create {
//	  margin-top: 50px;
//	}
//  }
//
//  .services-section {
//	padding-top: 100px;
//  }
//  .services-block {
//	justify-content: center;
//  }
//  .title-block {
//	text-align: center;
//	width: 100%;
//	margin: 0 auto;
//
//	.subtitle {
//	  font-size: 20px;
//	}
//
//	.title {
//	  font-size: 36px;
//	}
//  }
//
//  .documents-section {
//	.title-block {
//	  width: 600px;
//	}
//  }
//  .documents-block {
//	flex-flow: column;
//	align-items: center;
//  }
//  .document-block {
//	width: 65%;
//
//	&:not(:last-child) {
//	  margin-bottom: 40px;
//	}
//  }
//
//  .contact-section {
//	padding-bottom: 100px;
//
//	&:after {
//	  height: 550px;
//	}
//  }
//  .contact-block {
//	flex-flow: column;
//  }
//  .contact-form {
//	width: 65%;
//	margin: 50px auto 0;
//
//	form {
//	  display: flex;
//	  flex-flow: column;
//	  align-items: flex-end;
//	}
//  }
//}
//
//@media only screen and (max-width: 640px) {
//  .search-block {
//	margin-top: 100px;
//  }
//
//  .services-section {
//	&:after {
//	  bottom: 80%;
//	  width: 600px;
//	  height: 600px;
//	}
//  }
//  .services-block {
//	.service-block {
//	  margin-right: 0;
//	  width: 80%;
//
//	  &:last-child {
//		margin-bottom: 0;
//	  }
//	}
//  }
//
//  .documents-section {
//	.title-block {
//	  width: 100%;
//	}
//  }
//  .document-block {
//	width: 80%;
//  }
//
//  .contact-block {
//	.title-block {
//	  width: 100%;
//	}
//  }
//  .contact-form {
//	width: 80%;
//  }
//}
//
//@media only screen and (max-width: 400px) {
//  .search-block {
//
//	.title {
//	  font-size: 26px;
//	}
//
//	.subtitle {
//	  line-height: 1;
//	  font-size: 16px;
//	  margin-top: 15px;
//	}
//
//	.main-form {
//	  .form_group, .intl-tel-input, input {
//		width: 100%;
//	  }
//	}
//  }
//
//  .title-block {
//	.subtitle {
//	  font-size: 18px;
//	}
//
//	.title {
//	  font-size: 28px;
//	}
//  }
//
//  .services-block {
//	.service-block {
//	  width: 90%;
//	}
//  }
//
//  .document-block {
//	width: 90%;
//	padding: 25px;
//
//	.document-title {
//	  font-size: 18px;
//	  margin-bottom: 23px;
//	}
//
//	.document-list li {
//	  margin-bottom: 10px;
//	}
//  }
//
//  .contact-section:after {
//	height: 525px;
//  }
//  .contact-form {
//	width: 90%;
//	padding: 25px 20px;
//	height: auto;
//  }
//}


.operator-info{

	&_padding{
		padding-bottom: 20px;
	}

	&__head{
		padding: 15px 30px 20px;
		background-color: $c-active-bg;

		display: flex;

		@include max-to(xl) {
			padding: 15px 15px 20px;
		}
	}

	&__image{
		width: 42px;
		height: 42px;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 10px;
		flex: 0 0 auto;

		@include max-to(xl) {
			margin-right: 5px;
		}
	}

	&__image img{
		width: 42px;
		height: 42px;
		object-fit: cover;
	}

	&__name{
		font-family: $Roboto;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 0;

		@include max-to(xl) {
			font-size: 16px;
		}
	}

	&_id{
		font-family: $Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		margin-bottom: 0;
	}

	&__title{
		display: inline-block;
		margin: 0 auto;

		font-family: $Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		color: #fff;

		border-radius: 40px;
		background-color: #F1774F;
		padding: 8px 24px;
		transform: translateY(-50%);
	}

	&__list{
		font-family: $Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: normal;
		padding: 0 30px;
		margin: 0;

		color: #4F4F4F;

		@include max-to(xl) {
			padding: 0 15px;
		}

		.counter{
			font-size: 12px;
			line-height: 23px;
			text-align: center;

			display: block;
			min-width: 26px;
			height: 26px;
			border-radius: 50%;
			overflow: hidden;
			padding: 3px;
		}
	}

	&__list li{
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin-bottom: 12px;
	}

	&__list_green{
		color: #6FCF97;
	}

	&__list_gray .counter{
		color: #4F4F4F;
		background-color: #E0E0E0;
	}

	&__list_green .counter{
		color: #fff;
		background-color: #6FCF97;
	}

	&__list_orange .counter{
		color: #fff;
		background-color: #F2994A;
	}

	&__time{
		min-width: 190px;
		font-family: $Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1;

		color: #4F4F4F;
		background-color: rgba(242, 201, 76, 0.2);

		display: flex;
		justify-content: space-between;
		padding: 9px 18px;
		border-radius: 50px;
	}
}

.list-group-item{
	position: relative;

	&.create-tracker{
		padding-left: 60px !important;

		@include max-to(xl) {
			padding-left: 40px !important;
		}
	}

	& [aria-expanded="true"] + .arrow-down{
		transform: rotate(0deg);
	}

	& [aria-expanded="false"] + .arrow-down{
		transform: rotate(180deg);
	}

	&:hover,
	&.active{

		& > a{
			color: #0A5E74 !important;
		}

		& #stickerSVG{
			fill: #0A5E74;
		}

		& #contactsSVG path:nth-child(1) {
			stroke: #0A5E74;
		}

		& #contactsSVG path:nth-child(2){
			fill: #0A5E74;
		}

		& #locationSVG {
			fill: #0A5E74;
			stroke: #0A5E74;
		}

		& #cardsSVG path{
			stroke: #0A5E74;
			fill: none;
		}

		& #cardsSVG circle,
		& #cardsSVG rect{
			fill: #0A5E74;
		}

		& #settingSVG path{
			fill: #0A5E74;
		}

		& #settingSVG circle{
			stroke: #0A5E74;
		}
	}

	&__collapse{
		width: 100%;
		flex: 0 0 auto;
	}

	&__svg{
		width: 24px;
		height: 24px;
		margin-right: 20px;
		transition: $ease-out;

		@include max-to(xl) {
			margin-right: 10px;
		}
	}

	& #stickerSVG{
		fill: #BDBDBD;
		transition: $ease-out;
	}

	& #contactsSVG path:nth-child(1) {
		stroke: #BDBDBD;
		transition: $ease-out;
	}

	& #contactsSVG path:nth-child(2){
		fill: #BDBDBD;
		transition: $ease-out;
	}

	& #locationSVG {
		fill: #BDBDBD;
		stroke: #BDBDBD;
		transition: $ease-out;
	}

	& #cardsSVG path{
		stroke: #BDBDBD;
		fill: none;
		transition: $ease-out;
	}

	& #cardsSVG circle,
	& #cardsSVG rect{
		fill: #BDBDBD;
		transition: $ease-out;
	}

	& #settingSVG path{
		fill: #BDBDBD;
		transition: $ease-out;
	}

	& #settingSVG circle{
		stroke: #BDBDBD;
		transition: $ease-out;
	}

	& .arrow-down{
		width: 12px;
		height: 8px;
		position: absolute;
		top: 28px;
		right: 15px;
	}
}

.tab-content_scroll{
	//height: 100%;
	height: calc(100vh - 155px);
	padding-bottom: 140px;
	overflow-y: auto;

	& .table{
		margin-bottom: 0;
	}
}