// Hidden results

#calculator-results{
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: $expo;
}

.calculator-btn.results{

  & + #calculator-results{
    height: 256px;
    visibility: visible;
  }
}