@import "../base/variables.scss";

.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  //background: linear-gradient(0deg, #458393 19.13%, #0A5E74 88.39%);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  z-index: 9999;
  overflow: hidden;

  opacity: 1;
  //visibility: visible;
  transition: $expo;

  & svg:first-child{
    width: 227px;
    height: 110px;
    margin-bottom: 2rem;
  }

  & svg:last-child{
    width: 227px;
    height: 2px;
  }

  &_hidden{
    //visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -9;
  }
}

.loader{

  &__wrapp{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__progress{
    fill: $c-btn-red;
    width: 227px;
    transform: translateX(-100%);
    transform-origin: 50px 50px;
    transition: fill 0.3s ease-out;
    //animation: progress 3s linear infinite, rotate 1000s linear forwards;
    animation: progress 1200ms linear forwards;
  }
}

@keyframes progress{
  0% {transform: translateX(-100%);}
  30% {transform: translateX(-60%); fill: $c-btn-orange;}
  60% {transform: translateX(-30%); fill: $c-volun-blue}
  80% {transform: translateX(-20%); fill: $c-volun-blue}
  100% {transform: translateX(0%); fill: $c-volun-blue}
}