@import "../base/variables.scss";

$c-black-m: #333333;
$c-orange-m: #F1774F;
$c-blue-m: #0A5E74;

.main-page .affix,
.main-page .affix-top{

  @include max-to(lg) {
	top: 0;
  }
}

.main-page .header-section:not(.affix) .navigation .logo img {
  @include max-to(xl) {
	width: 116px;
  }

  @include max-to(sm) {
	width: 70px;
  }
}

.navigation.show-mobile .mobile-menu  span{
  background-color: $c-black-m;
}

.mobile-menu{

  &__drop{
	background: #fff;
	box-shadow: 0 0 40px rgba(0,0,0,.1);

	position: fixed;
	z-index: 998;
	width: 275px;
	top: 0;
	right: 0;
	transform: translateY(0) translateX(94px);
	height: 100vh;

	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: all .5s ease;
  }

  &__drop ul{
	padding-left: 51px;
  }

  &_overlay{
	overflow-y: auto;
	height: calc(100% - 51px);
	position: relative;
  }

  &_list{
	position: relative;
	z-index: 0;
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;

	font-size: 16px;
	line-height: 52px;
	text-transform: uppercase;
	text-decoration: none;

	color: #000000;
	display: block;
	border-bottom: 1px solid #F2F2F2;
	margin: 0 20px;

	& svg{
	  margin-right: 10px;
	}

	& .icon-arrow{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  margin: auto 0;
	  width: 8px;
	  height: 12px;
	  transition: all 0.3s ease;
	}

	&[aria-expanded="true"] {

	  & .icon-arrow{
		transform: rotate(90deg);
	  }

		& .svg_message path:nth-child(1){
			stroke: $c-orange-m;
			fill: none;
			transition: all 0.3s ease;
		}

		& .svg_message path:nth-child(2){
			stroke: none;
			fill: $c-orange-m;
			transition: all 0.3s ease;
		}

		& .svg_faq path{
			stroke: $c-orange-m;
			fill: none;
			transition: all 0.3s ease;
		 }

		& .svg_faq circle{
			fill: $c-orange-m;
			transition: all 0.3s ease;
		}

		& .svg_faq rect{
			fill: $c-orange-m;
			transition: all 0.3s ease;
		}

	  & .svg_stroke path{
		fill: $c-orange-m;
	  }

	  & .svg_fill{
		fill: $c-orange-m !important;
		text-decoration: none;
	  }

	  & .svg_stroke{
		stroke: $c-orange-m !important;
		text-decoration: none;
	  }
	}

	&[aria-expanded="false"] {
	  & .svg_stroke path{
		fill: $c-orange-m;
	  }

	  & .svg_stroke{
		stroke: $c-blue-m !important;
		text-decoration: none;
	  }

	  & .svg_fill{
		fill: $c-blue-m !important;
		text-decoration: none;
	  }

		& .svg_message path:nth-child(1){
			stroke: $c-blue-m;
			fill: none;
			transition: all 0.3s ease;
		}

		& .svg_message path:nth-child(2){
			stroke: none;
			fill: $c-blue-m;
			transition: all 0.3s ease;
		}

		& .svg_faq path{
			stroke: $c-blue-m;
			fill: none;
			transition: all 0.3s ease;
		}

		& .svg_faq circle{
			fill: $c-blue-m;
			transition: all 0.3s ease;
		}

		& .svg_faq rect{
			fill: $c-blue-m;
			transition: all 0.3s ease;
		}
	}

	&:hover{
	  text-decoration: none;
	  color: $c-blue-m;
	}
  }

  &_list-user{
	height: 64px;
	line-height: 64px;
	background-color: #E1EBEE;
	padding-left: 20px;
	margin: 0;
	  white-space: nowrap;
	  overflow: hidden;
	  position: relative;
	  z-index: 0;


	  &::before{
		  content: '';
		  display: block;
		  width: 60px;
		  height: 64px;
		  background: #E1EBEE;
		  position: absolute;
		  top: 0;
		  right: 0;
		  box-shadow: -2px -8px 6px 3px #E1EBEE;
	  }
  }

  &__drop .dropdown-block{
	display: flex;
	align-items: center;

	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 5px 20px 30px;
	background-color: #fff;
	z-index: 9;
  }

  &__drop .dropdown-block a {
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: $c-black-m;
	margin-right: 15px;
  }

  &__drop .dropdown-block .active{
	color: #0A5E74;
  }

  &__drop .dropdown-block li{
	list-style: none;
  }

  &__drop .dropdown-block li:last-child{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	color: #BDBDBD;
	margin-left: 40px;
  }

	&__btn-lang{
		display: none;
		justify-content: space-between;
		align-items: center;
		min-height: 36px;
		border: 2px solid rgba(255, 255, 255, 0.3);
		border-radius: 5px;
		padding: 4px;

		@include max-to(lg) {
			display: flex;
		}
	}

	&__btn-lang .btn-lang{
		width: 65px;
		height: auto;

		@include max-to(xs) {
			width: 32px;
		}
	}

	&__btn-lang .icon-globe{

		@include max-to(xs) {
			display: none;
		}
	}

	&__btn-lang .dropdown-block{
		list-style-type: none;
		padding: 4px 4px 4px 15px;
		border: 2px solid rgba(255, 255, 255, 0.3);
		border-radius: 5px;

		@include max-to(xs) {
			padding: 0 2px;
		}
	}

	&__btn-lang .dropdown-item{
		color: #fff;
	}

	&__btn-lang .dropdown-block.show-dropdown{
		transform: translateY(110%);
	}

}

.navigation.show-mobile .menu{

  @include max-to(lg) {
	display: none;
  }
}

.navigation.show-mobile .mobile-menu__drop{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
  pointer-events: auto;
}