@import "../base/variables.scss";

.title-modal{
  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;

  color: $c-volun-title-blue;

  display: flex;
  justify-content: center;

  &_svg svg{
    width: 30px;
    height: 23px;
    fill: #BDBDBD;

    @include max-to(xs) {
      display: none;
    }
  }
}

//Global Modal
.modal-fhd{

  &__content{
    background: #fff;
    box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
  }

  &__header{
    padding: 30px 0 20px;
    margin: 0 50px;
    border-bottom: 1px solid #F2F2F2;

    @include max-to(xs) {
      margin: 0 15px;
    }
  }

  &__body{
    padding: 40px 50px 30px;

    @include max-to(xs) {
      padding: 40px 15px 30px;
    }
  }

  &_btn-height{
    height: 46px;
  }

  &__close{
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    border: 0;
    background: transparent;

    position: absolute;
    top: -16px;
    right: -16px;
  }

  &__close:hover{

    & circle{
      fill: $c-btn-orange;
    }
  }

  &__close svg{
    width: 32px;
    height: 32px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  &__close circle{
    fill: #4F4F4F;
    transition: $expo;
  }

  &__close rect{
    fill: #fff;
  }

  &__dialog{
    @include max-to(sm) {
      margin: 30px;
    }
  }
}
// CLOSE Global Modal

.modal.in .modal-dialog {
  transform: translate(0, 5vh);
}
.modal-body{
  position: relative;
  z-index: 1;
}

.modal-footer{
  position: relative;
  z-index: 0;
}

.modal-custom{

  &_close{
    font-size: 26px;
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.modal-content{

  & svg{
    width: 55px;
    height: 50px;
    margin: auto;
  }

  &_warning{
    //padding: 60px 30px 30px;
    border-radius: 5px;
    border: 8px solid #fff;
  }
}

.modal-title{

  &_warning{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin: 30px 0;
    padding: 0;
    color: $c-volun-orange;
    width: 100%;
  }
}

.modal-header{

  &_warning{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 30px 0 30px;
    border: 0;
    border-radius: 5px 5px 0 0;
    background-color: #FEF5F5;
  }
}

.modal-body{

  &_warning{
    padding: 0 30px;
    border: 0;
    width: 100%;
    background-color: #FEF5F5;
  }

  & .form-group{
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &_warning_select{
    margin: 0 auto 15px;
  }
}

.modal-footer{

  &__custom{
    border: 0;
    padding: 15px 30px 30px;
    border-radius: 0 0 5px 5px;
  }

  &_warning{
    background-color: #FEF5F5;
  }
}