@import "../base/variables.scss";

.pagination{
  width: 100%;
  padding: 0;
  margin: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;


  & li {
    list-style-type: none;
    margin: 0 2px;
  }

  & li span,
  & li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 2px solid transparent;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 0;

    color: #828282;
    transition: $expo;

    @include max-to(xs) {
      width: 30px;
      height: 30px;
    }
  }

  & li a:hover{
    color: $c-volun-orange;
    text-decoration: none;
    background-color: transparent;
  }
}

.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
  z-index: 0;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{

  color: $c-volun-blue;
  cursor: not-allowed;
  background-color: #fff;
  border-color: transparent;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span{
  font-size: 0;

  &:focus,
  &:hover{
    border-color: transparent;

    &::before {
      color: $c-volun-orange;
      background-color: transparent;
    }
  }

  &::before{
    color: $c-volun-blue;
    font-family: FontAwesome;
    font-size: 28px;
    font-weight: 400;
    transition: $expo;
    border-color: transparent;
  }
}

.pagination > li:last-child > a,
.pagination > li:last-child > span{

  &::before{
    content: "\F105";
  }
}

.pagination > li:first-child{
  margin-right: 60px;

  @include max-to(lg) {
    margin-right: 30px;
  }

  @include max-to(xs) {
    margin-right: 15px;
  }
}
.pagination > li:last-child{
  margin-left: 60px;

  @include max-to(lg) {
    margin-left: 30px;
  }

  @include max-to(xs) {
    margin-left: 15px;
  }
}


.pagination > li:first-child > a,
.pagination > li:first-child > span{

  &::before{
    content: "\F104";
  }
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
  z-index: 3;
  color: #000;
  cursor: default;
  background-color: #fff;
  border-color: $c-volun-orange;
}
