@import "../base/variables";

.nav-tabs {

  &__item {
    margin: 0;
    padding: 0;
    border-radius: 0;
    transition: $ease-out;
  }

  &__item_border {
    border: 1px solid #F2F2F2;
  }

  &__item_border-y {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
  }

  &__item::before {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $c-volun-orange;
    transition: all 0.14s linear;
  }

  &__item.active,
  &__item:hover {

    & .nav-tabs__tab {
      color: #0A5E74;
    }

    &:before {
      height: 4px;
    }
  }

  &__tab {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #4F4F4F;
    display: block;
    padding: 16px 6px !important;
    margin: 0;
    cursor: pointer;
    transition: $ease-out;
  }

  &__tab:focus,
  &__tab:hover {
    color: #4F4F4F;
    text-decoration: none !important;
    background-color: #fff !important;
  }
}
