$c-red-bg: #FEF1ED;
$c-red: #EB5757;
$c-blue-bg: #E7EFF1;
$c-blue: #0A5E74;
$c-orange-bg: #FEFAED;
$c-orange: #F1774F;
$c-green-bg: #F1FAF5;
$c-green: #219653;

.alert{

  &__custom{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding: 20px 40px;
	border-radius: 6px;
	border: 0;
  }

  &__custom .close{
	opacity: 1;
	margin-top: -13px;
  }

  &__custom .close:hover{
	opacity: 0.45;
  }

  &__custom .close i {
	font-size: 16px;
	color: $c-blue;
  }

  &__header{
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;

	display: flex;
	align-items: center;
  }
  &__header svg{
	margin-right: 10px;
	margin-bottom: 5px;
  }
}

.alert-danger{

  &__custom{
	color: $c-red;
	background-color: $c-red-bg;
  }
}

.alert-info{

  &__custom{
	color: $c-blue;
	background-color: $c-blue-bg;
  }
}

.alert-warning{

  &__custom{
	color: $c-orange;
	background-color: $c-orange-bg;
  }
}

.alert-success{

  &__custom{
	color: $c-green;
	background-color: $c-green-bg;
  }
}