@import "../base/variables.scss";

$c-green: #27AE60;
$c-gray: #BDBDBD;
$c-blue: #2D9CDB;

.calculator-btn{
  display: flex;
  justify-content: center;
  border-top: 2px solid #e8eced;
  padding-top: 30px;
  padding-bottom: 30px;

  &_padding{
	padding: 8px 60px;
  }
}

.btn{

  &-custom-big{
    font-family: $Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 21px 5px;
    min-width: 250px;

    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus{
      color: #fff;
      text-decoration: none;
    }
  }

  &-custom-big_green{
    color: #FFFFFF;
    background-color: $c-green;

    &:hover,
    &:focus{
      background-color: darken($c-green,15%);
    }
  }

  &-custom-big_gray{
    color: #FFFFFF;
    background-color: $c-gray;

    &:hover,
    &:focus{
      background-color: darken($c-gray,15%);
    }
  }
  &-custom-big_blue{
    color: #FFFFFF;
    background-color: $c-blue;

    &:hover,
    &:focus{
      background-color: darken($c-blue,15%);
    }
  }
}

a[download]:hover,
a[download]:focus{
  text-decoration: none;
  opacity: 0.9;
}

.btn-custom{
  min-width: unset;
  width: auto;
  display: inline-block;
  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 14px 24px;

  border-radius: 3px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all $ease-out;

  &_width{
    width: 100%;
  }

  &_orange{
    color: $c-btn-orange;
    background-color: #fff;
    border-color: $c-btn-orange;
  }

  &:active {

    &.btn-custom_orange {
      color: #fff;
      background-color: $c-btn-orange;
      border-color: $c-btn-orange;
    }
  }

  &:focus,
  &:hover {

    &.btn-custom_orange {
      background-color: $c-btn-orange;
    }

    &.btn-custom_gray {
      color: $c-volun-text;
      background-color: $c-btn-grey;
    }

    &.btn-custom_red {
      color: $c-btn-red;
      background-color: #fff;
      border-color: $c-btn-red;
    }

    &.btn-custom_yellow-bg {
      //background-color: lighten($c-btn-orange, 5%);
      background-color: transparent;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      border-color: $c-btn-yellow;
      color: $c-btn-yellow;
    }

    &.btn-custom_green-bg {
      background-color: transparent;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      border-color: $c-btn-green;
      color: $c-btn-green;
    }
  }

  &_gray{
    color: $c-btn-grey;
    border-color: $c-btn-grey;
  }

  &_red{
    color: #fff;
    background-color: $c-btn-red;
  }

  &_yellow-bg{
    color: #fff;
    background-color: $c-btn-yellow;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }

  &_green-bg{
    color: #fff;
    background-color: $c-btn-green;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }
}

.btn-back{
  display: flex;
  align-items: center;

  width: auto;
  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #333333;

  & i{
    line-height: 18px;
    margin-bottom: 2px;
    margin-right: 15px;
    transition: $expo;
  }

  &:hover,
  &:focus{
    text-decoration: none;

    & i {
      transform: translateX(-5px);
    }
  }
}

.btn-send{
  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  width: 162px;
  height: 60px;
  flex: 0 0 162px;
  border: 0;
  border-radius: 3px;
  position: relative;
  background-color: $c-btn-orange;
  overflow: hidden;
  transition: $expo;

  color: #FFFFFF;

  @include max-to(xs) {
    text-align: center;
    width: auto;
    padding: 0 8px;
    flex: 0 0 auto;
  }

  &_pr{
    padding-right: 50px;

    @include max-to(xs) {
      padding-right: 8px;
    }
  }

  &:hover{
    background-color: lighten($c-btn-orange, 5%);

    & svg{
      transform: translateX(4px) translateY(-4px);
    }
  }

  &:active{
    background-color: lighten($c-btn-orange, 0%);

    & svg{
      transform: translateX(162px) translateY(-60px);
      opacity: 0;
      transition: 1s ease;
    }
  }

  & svg {
    width: 18px;
    height: 17px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    margin: auto 0;
    transition: $expo;

    @include max-to(xs) {
      display: none;
    }
  }
}

.btn-send-to-email{
  width: 41px;
  height: 41px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;

  &:hover{

    & svg{
      fill: $c-btn-orange;
    }
  }

  & svg{
    width: 30px;
    height: 23px;
    fill: #BDBDBD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: $expo;
  }
}

.btn-clear-editor{
  width: 41px;
  height: 41px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;

  &:hover{

    & .stroke{
      stroke: $c-btn-orange;
    }

    & svg{
      fill: $c-btn-orange;
    }
  }

  & svg{
    width: 32px;
    height: 27px;
    fill: #BDBDBD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: $expo;
  }

  & .stroke{
    stroke: #BDBDBD;
  }
}