.form-group{

  &__info{
	display: flex;
	justify-content: flex-start;
  }

  &__btn-info{
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	background-color: transparent;
	border: 0;
	outline: none;
	padding: 0;
	margin: 10px 0 0 5px;
  }
}

.textarea,
.input {
	&__custom{
	  width: 100%;
	  color: $c-volun-text;
	  font-family: $Roboto;
	  font-style: normal;
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 48px;
	  padding: 0 34px 0 20px;

	  margin-bottom: 0;
	  height: 48px;
	  border: 1px solid #E0E0E0;
	  background-color: #F8FAFB;
	  box-sizing: border-box;
	  border-radius: 3px;
	  box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(102,175,233,0);
	 }

  &__custom{
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  @include placeholder($Roboto,normal,400,16px,#BDBDBD);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  @include placeholder($Roboto,normal,400,16px,#BDBDBD);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  @include placeholder($Roboto,normal,400,16px,#BDBDBD);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  @include placeholder($Roboto,normal,400,16px,#BDBDBD);
	}
  }

  &__custom_bg{
	  background-color: #F2F2F2;
  }

  &__custom:focus{
	border-color: $c-btn-green;
	box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(102,175,233,0);
  }

  &__custom[disabled]{
	border-color: #E0E0E0;
	background-color: #FCFCFC;
  }

  &__custom_info{
	width: calc(100% - 40px);
  }

  &__custom_search{
	position: relative;

	& .input__custom{
	  padding-right: 40px;
	}
  }
}

.has-error{
	position: relative;

	& .input__custom{
		border-color: $c-btn-orange;
	}

  &::before{
	content: '';
	position: absolute;
	background: url(/img/has-error.png) no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	top: 11px;
	right: 11px;
	z-index: 1;
  }

  & .form-control{
	color: #EB5757;
	border-color: #EB5757 !important;
	box-shadow:  0 0 0 0 transparent !important;
  }
}

.has-success{
  position: relative;

	& .input__custom{
		border-color: $c-btn-green;
	}

  &::before{
	content: '';
	position: absolute;
	background: url(/img/has-success.png) no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	top: 11px;
	right: 11px;
	z-index: 0;
  }

  & .form-control{
	color: #6FCF97;
	border-color: #6FCF97 !important;
	box-shadow:  0 0 0 0 transparent !important;
  }
}


.has-error .help-block{
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: $c-volun-red;
	margin: 4px 0;
}

.help-block{
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  &.error{
	color: $c-volun-red;
	padding-left: 30px;
	background: url(/img/has-error.png) no-repeat 0 center/22px 22px;
  }

  &.success{
	color: #6FCF97;
	padding-left: 30px;
	background: url(/img/has-success.png) no-repeat 0 center/22px 22px;
  }
}

// DATE

.input__custom{

  &-date{
	background: url(/img/date.png) no-repeat 95% center/20px 19px;
	cursor: pointer;
  }
}

.btn-search{

  display: inline-block;
  width: 40px;
  height: 100%;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;

  &_send{
	background: url(/img/btn-search.png) no-repeat center/20px 20px;
  }

  &_clear{
	display: none;
	background: url(/img/search-clear.png) no-repeat center/24px 24px;
  }
}

.form-group .messages{
	color: #EB5757;
}

.input-group_width{

	@include max-to(sm) {
		width: 100%;
	}
}

.form-group__input-file-chat{
	position: relative;
	width: 41px;
	height: 41px;
	overflow: hidden;
	margin: 0;
}

.form-group__input-file-chat svg{
	width: 41px;
	height: 41px;
	fill: #BDBDBD;
	transition: all .4s;
}

.form-group__input-file-chat:hover svg{
	fill: $c-btn-orange;
}

.form-group__input-file-chat.checked svg{
	fill: $c-btn-green;
}

.input-file-chat{
	display: inline-block;
	width: 41px;
	height: 41px;
	overflow: hidden;
	transition: all .4s;
	cursor: pointer;
}

.input-file-chat + input{
	display: block;
	position: absolute;
	opacity: 0;
	width: 41px;
	height: 41px;
	top: 0;
	left: 0;
	padding-left: 41px;
	cursor: pointer;
}

.input-title{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px ;

	color: $c-volun-gray;
}

// PHONE input

.form-group .intl-tel-input.allow-dropdown input[type=text],
.form-group .intl-tel-input.allow-dropdown input[type=tel]{
	padding-left: 92px;
}

.form-group .intl-tel-input .country-list{
	top: 50px;
}

.form-group .intl-tel-input.allow-dropdown .selected-flag,
.form-group .intl-tel-input.separate-dial-code .selected-flag{
	width: 74px;
	padding-left: 12px;
}

.form-group .intl-tel-input .selected-flag .iti-arrow{
	right: 12px;
}

.form-group .intl-tel-input.allow-dropdown .flag-container,
.form-group .intl-tel-input.separate-dial-code .flag-container{
	z-index: 9;
	border-right: 1px solid #E0E0E0;
}

#inputNumber{
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &::-moz-placeholder { /* Firefox 19+ */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &:-ms-input-placeholder { /* IE 10+ */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &:-moz-placeholder { /* Firefox 18- */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
}

.placeholder{
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &::-moz-placeholder { /* Firefox 19+ */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &:-ms-input-placeholder { /* IE 10+ */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
  &:-moz-placeholder { /* Firefox 18- */
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
  }
}

.calculator-custom {

	& .input__custom {
		background-color: #fff;
	}
}
