.popover{
  max-width: 360px;
  width: 100%;
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  &.right>.arrow{
	border-right-color: rgba(189, 189, 189, 0.1);
  }
  &.left>.arrow{
	border-left-color: rgba(189, 189, 189, 0.1);
  }
  &.top>.arrow{
	border-top-color: rgba(189, 189, 189, 0.1);
  }
  &.bottom>.arrow{
	border-bottom-color: rgba(189, 189, 189, 0.1);
  }

  &-icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(/img/has-info.png) no-repeat 0 center/24px 24px;

	position: absolute;
	z-index: 9;
	top: 13px;
	left: 11px;
  }

  &-icon-textarea{
	display: inline-block;
	width: 26px;
	height: 100%;
	background: url(/img/popover_warning.png) no-repeat 0 21px/26px 24px;

	position: absolute;
	z-index: 9;
	top: 0;
	left: 11px;
  }

  &-content{
	display: inline-block;
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #BDBDBD;
	padding: 15px 15px 15px 45px;
  }

  &-content b{
	color: #000;
	font-weight: 400;
  }
}