$c-green: #27AE60;
$c-gray: #BDBDBD;
$c-orange: #F2994A;

.checkbox {

  &__custom {
	color: #202121;
	font-size: 14px;
	font-family: $Roboto;
	font-weight: 500 !important;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 24px;
	width: 100%;
	padding: 0 0 0 40px !important;
	position: relative;

	& input {
	  display: none;
	}
  }

  &__custom_dot::before {
	content: "";
	background: #FFFFFF;
	border-radius: 50%;
	bottom: 2px;
	height: 22px;
	width: 22px;
	left: -1px;
	position: absolute;
	z-index: 9;
	border: 7px solid transparent;
	box-sizing: border-box;
	transition: all .3s ease;
  }

  &__custom_dot_gray::before{
	box-shadow: 0 0 0 1px $c-gray;
  }

  & input:checked + .checkbox__custom_dot_gray::before {
	border-color: #828282;
	box-shadow: inset 0 0 0 10px #fff;
  }

  &__custom_dot_green::before{
	box-shadow: 0 0 0 1px $c-green;
  }

  & input:checked + .checkbox__custom_dot_green::before {
	border-color: #27AE60;
	box-shadow: inset 0 0 0 10px #fff;
  }

  &__custom_dot_orange::before{
	box-shadow: 0 0 0 1px $c-orange;
  }

  & input:checked + .checkbox__custom_dot_orange::before {
	border-color: $c-orange;
	box-shadow: inset 0 0 0 10px #fff;
  }
}


.calculator-custom {

  &__checkbox{
	color: #202121;
	font-size: 14px;
	font-family: $Roboto;
	font-weight: 500 !important;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 24px;
	width: 100%;
	padding: 0 !important;

	& input {
	  display:none;
	}

	& input:checked + .calculator-custom__checkbox_tumbler:before {
	  transform: translateX(20px);
	}
  }

	&__checkbox2{
	color: #202121;
	font-size: 14px;
	font-weight: 500 !important;
	padding-left: 40px !important;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 18px;
	width: 100%;

	& input {
	  display:none;
	}

	& input:checked + .calculator-custom__checkbox2_check::before {
	  background-color: #0a5d74;
	}
	& input:checked + .calculator-custom__checkbox2_check::after {
	  transform: scale(1);
	  visibility: visible;
	  opacity: 1;
	}
  }

  &__checkbox_inline{
	width: auto;
	display: inline-block;
	vertical-align: middle;

	& span:not(.calculator-custom__checkbox2_check){
	  line-height: 22px;
	}
  }

  &__checkbox_tumbler{
	width: 38px;
	margin: 0 auto 0 26px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }

  &__checkbox_tumbler::before {
	content: "";
	background-color: #0a5d74;
	bottom: 2px;
	height: 22px;
	width: 22px;
	left: -1px;
	position: absolute;
	z-index: 9;
	transition: .4s;
  }

  &__checkbox_tumbler::after {
	content: "";
	background-color: #fff;
	bottom: 4px;
	height: 18px;
	width: 38px;
	left: 0;
	position: absolute;
	z-index: 1;
	transition: .4s;
	border: 1px solid #ccc;
	border-radius: 10px;
  }

  &__checkbox2_check{
	width: 38px;
	margin: 0;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }

  &__checkbox2_check::before {
	content: "";
	border: 1px solid #0a5d74;
	bottom: 2px;
	height: 20px;
	width: 20px;
	left: -1p2;
	position: absolute;
	z-index: 9;
	transition: .4s;
	background-color: #fff;
  }

  &__checkbox2_check::after {
	content: "\f00c";
	color: #fff;
	font-family: 'FontAwesome';
	position: absolute;
	z-index: 10;
	top: 2px;
	left: 3px;
	transform: scale(0.5);
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease;
  }
}


.calculator-custom__checkbox_tumbler.active {
  border-radius: 34px;
}

.calculator-custom__checkbox_tumbler.active:before {
  border-radius: 50%;
}