
.select{
  &__custom{
	display: inline-block;
	color: #cdcdcd;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	height: 48px;
	padding: 12px 20px 12px 12px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #fff;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 8px;
  }

  &__custom option{
	color: #828282;
  }

  &_hidde{
	display: none;
  }

  &_show{
	display: block;
  }

  &__custom_wrapp{
	position: relative;
  }

  &__custom_wrapp .fa-angle-down{
	font-size: 16px;
	position: absolute;
	z-index: 9;
	top: 16px;
	right: 14px;
	margin: auto 0;
  }
}
.select2-dropdown{
	border-color: transparent !important;
}

.bootstrap-select .btn{
  font-size: 16px;
  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
}

.bootstrap-select .dropdown-menu li a {
  font-size: 16px;
  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	color: $c-volun-text;
	@include placeholder($Roboto,normal,400,16px,#BDBDBD);
}

.calculator-custom {

	& .bootstrap-select .dropdown-menu li a,
	& .bootstrap-select .dropdown-menu,
	& .bootstrap-select .btn-group.open .dropdown-toggle,
	& .bootstrap-select .dropdown-toggle{
		background-color: #fff !important;
	}
}
