.swal-modal {
  padding: 100px 30px 10px;
  transition: all 0.34s ease-in-out;

  & .swal-icon--success__hide-corners,
  & .swal-icon--success:after,
  & .swal-icon--success:before{
	display: none;
  }

  & .swal-title {
	font-family: $Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	margin-top: 13px;
  }

  & .swal-text{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	text-align: center;

	color: #000000;
  }

  & .swal-button {
	padding: 11px 24px;
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid transparent;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

	font-family: $Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
  }

  & .swal-footer{
	display: flex;
	justify-content: center;
  }

  &_success-border{
	background: #F1FAF5;
	box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-success-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_success-border .swal-title {
	color: #219653;
  }

  &_success-border .swal-button{
	color: #219653;
	border-color: #219653 !important;

	&:hover{
	  color: #fff;
	  background-color: #219653;
	}
  }

  &_error-border{
	background: #FEF5F5;
	box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-error-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_error-border .swal-title {
	color: #EB5757;
  }

  &_error-border .swal-button{
	color: #EB5757;
	border-color: #EB5757 !important;

	&:hover{
	  color: #fff;
	  background-color: #EB5757;
	}
  }

  &_warning-border{
	background: #FEFAED;
	box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-warning-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_warning-border .swal-title {
	color: #F1774F;
  }

  &_warning-border .swal-button{
	color: #F1774F;
	border-color: #F1774F !important;

	&:hover{
	  color: #fff;
	  background-color: #F1774F;
	}
  }

  &_successMini{
	padding: 22px !important;
	background: #F1FAF5;
	box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-success-icon.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: 30px;
  }

  &_successMini .swal-title {
	color: #219653;
	padding: 0;
	margin: 0 !important;
  }

  &_successMini .swal-button{
	color: #219653;
	border-color: #219653 !important;

	&:hover{
	  color: #fff;
	  background-color: #219653;
	}
  }

  &_errorMini{
	padding: 22px !important;
	background: #FEF5F5;
	box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-error-icon.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: 30px;
  }

  &_errorMini .swal-title {
	color: #EB5757;
	padding: 0;
	margin: 0 !important;
  }

  &_errorMini .swal-button{
	color: #EB5757;
	border-color: #EB5757 !important;

	&:hover{
	  color: #fff;
	  background-color: #EB5757;
	}
  }

  &_warningMini{
	padding: 22px !important;
	background: #FEFAED;
	box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
	border-radius: 5px;
	border: 8px solid #fff;
	background-image: url("/img/swal-warning-icon.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: 30px;
  }

  &_warningMini .swal-title {
	color: #F1774F;
	padding: 0;
	margin: 0 !important;
  }

	&_warningMini .swal-text{
		color: #333;
		padding: 0;
		margin: 0 !important;
	}

  &_warningMini .swal-button{
	color: #F1774F;
	border-color: #F1774F !important;

	&:hover{
	  color: #fff;
	  background-color: #F1774F;
	}
  }

  &_success_time{
	background: #F1FAF5;
	box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
	border-radius: 3px;
	background-image: url("/img/swal-time-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_success_time .swal-title {
	color: #219653;
	padding: 0 70px;
  }

  &_success_time .swal-button {
	color: #EB5757;
	border-color: #EB5757 !important;

	&:hover {
	  color: #fff;
	  background-color: #EB5757;
	}
  }
}

.swal-modal {
  padding: 100px 30px 10px;

  & .swal-icon--success__hide-corners,
  & .swal-icon--success:after,
  & .swal-icon--success:before{
	display: none;
  }

  & .swal-title {
	font-family: $Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	margin-top: 13px;
  }

  & .swal-text{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	text-align: center;

	color: #000000;
  }

  & .swal-button {
	padding: 11px 24px;
	border-radius: 3px;
	background-color: transparent;
	border: 2px solid transparent;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

	font-family: $Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
  }

  & .swal-footer{
	display: flex;
	justify-content: center;
  }

  &_success{
	background: #F1FAF5;
	box-shadow: 8px 8px 40px rgba(34, 122, 72, 0.25);
	border-radius: 3px;
	background-image: url("/img/swal-success-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_success .swal-title {
	color: #219653;
  }

  &_success .swal-button{
	color: #219653;
	border-color: #219653;

	&:hover{
	  color: #fff;
	  background-color: #219653;
	}
  }

  &_error{
	background: #FEF5F5;
	box-shadow: 8px 8px 40px rgba(146, 75, 75, 0.25);
	border-radius: 3px;
	background-image: url("/img/swal-error-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_error .swal-title {
	color: #EB5757;
  }

  &_error .swal-button{
	color: #EB5757;
	border-color: #EB5757;

	&:hover{
	  color: #fff;
	  background-color: #EB5757;
	}
  }

  &_warning{
	background: #FEFAED;
	box-shadow: 8px 8px 40px rgba(155, 114, 78, 0.25);
	border-radius: 3px;
	background-image: url("/img/swal-warning-icon.png");
	background-repeat: no-repeat;
	background-position: center 40px;
  }

  &_warning .swal-title {
	color: #F1774F;
  }

  &_warning .swal-button{
	color: #F1774F;
	border-color: #F1774F;

	&:hover{
	  color: #fff;
	  background-color: #F1774F;
	}
  }
}


@keyframes showSweetAlert{
  1% {
	transform: scale(1);
	opacity: 0;
  }

  45% {
	transform: scale(1);
	opacity: 0.5;
	}

  80% {
	  transform: scale(1);
	  opacity: 1;
	}

  100% {
	  transform: scale(1);

	 }
}