.table-tracker{

  &_font th,
  &_font td{

    @include max-to(sm) {
      font-size: 12px;
    }
  }

  &__resize th,
  &__resize td{

    @include max-to(sm) {
      font-size: 12px;
      padding: 10px 6px !important;
    }
  }
}

#filters-container{

  @include max-to(md) {
    overflow-x: auto;
    overflow-y: hidden;
  }
}