.flex-wrapp{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-flex{

  &_order-0{
    order: 0;
  }

  &_order-1{
    order: 1;
  }

  &_order-2{
    order: 2;
  }

  &_select{
    order: 3;
  }
}

.btn-confirm-change{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  & button,
  & a{
    margin-bottom: 10px;
  }

  &__col-2{
    width: 20%;

    @media only screen and(max-width: 767px){
      width: 100%;
    }
  }

  &__col-10{
    width: 80%;

    @media only screen and(max-width: 767px){
      width: 100%;
    }
  }

  &_order{

    & a:first-child{
      order: 0;
    }

    & a:first-child{
      order: 100;
    }
  }
}