$c-gray-c: #F8FAFB;
$c-text-c: #828282;
$c-black-c: #000000;

.section-address {

  &__map {
    height: 240px;
    position: relative;
    overflow: hidden;

    & svg {
      transition: all 0.3s ease-out;
    }
  }

  //&__map iframe {
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  margin: auto;
  //  z-index: 0;
  //}

  &__map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: $ease-out;
  }

  &__map:hover {

    & .section-address__marker {
      transform: translateY(-20px);
      opacity: 0;
    }

    & img{
      transform: scale(1.4);
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
  }

  &__inner {
    background-color: $c-gray-c;
    border-radius: 8px 8px;
    overflow: hidden;
    min-height: 363px;
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;

    @include max-to(xl) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__list li {
    font-family: $Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: $c-text-c;
  }

  &__list p {
    flex: 1 1 50%;
    margin: 0;
  }

  &__list span {
    color: $c-black-c;
    flex: 1 1 50%;
  }

  &__list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.section-contactUs {
  padding-bottom: 100px;

  & .form-group {
    margin-bottom: 30px;
  }

  & textarea,
  & input {
    background-color: $c-gray-c;
    border-color: #D4DBDC;
  }

  & input {
    height: 60px;
  }

  & input::placeholder {
    line-height: -moz-block-height;
  }

  & textarea::placeholder {
    line-height: 45px;
  }

  & textarea {
    height: 150px;
    line-height: 45px;
  }

  &__btn {
    padding: 20px 45px;
    line-height: 1;
  }
}