.dogovor-section {
  padding-bottom: 175px;

  &__title {
    color: rgb(68, 68, 68);
    font-family: $Roboto, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    margin: 80px 0 40px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__body {

    color: rgb(0, 0, 0);
    font-family: $Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.525;
    letter-spacing: 0.16px;
    max-width: 1140px;
    margin: 0px auto 80px auto;
  }

  &__body a {
    color: #006ce5;
    text-decoration: none;
    touch-action: manipulation;
  }

  &__download {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include max-to(sm) {
      display: block;
    }
  }

  &__btn {
    border-radius: 8px 8px;
    background-color: rgba(191, 191, 191, 0.3);
    box-shadow: inset 0 0 0 1px rgba(191, 191, 191, 1);

    color: rgb(68, 68, 68);
    font-family: $Roboto, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 40px 10px;
    transition: all 0.24s ease-in;

    @include max-to(md) {
      font-size: 16px;
      padding: 30px 10px;
    }

    @include max-to(sm) {
      display: block;
      max-width: 300px;
      margin: 0 auto 15px;
    }
  }

  &__btn:hover {
    background-color: rgba(191, 191, 191, 0.1);
    box-shadow: inset 0 0 0 2px rgba(191, 191, 191, 1);
  }

  &_py {
    padding: 15px 0;
  }

  &_pt {
    padding-top: 15px;
  }

  &_pb {
    padding-bottom: 15px;
  }
}