@import "../base/variables.scss";

.edit-profile{

  &__panel{
    border: 0;
    border-radius: 6px;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    transition: $expo;
  }

  &__panel:hover{
    box-shadow: 0px -1px 20px rgba(10, 96, 117, 0.33);
  }

  &__panel-heading{
    padding: 30px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: calc(100% - 60px);
      height: 1px;
      background-color: #F2F2F2;
    }

    h4,h5{
      font-size: 24px;
      color: $c-volun-text;
      margin: 0;
    }
  }

  &__panel-body{
    padding: 30px;
  }

  &_border{
    margin-top: 15px;
    padding-top: 15px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: calc(100% - 60px);
      height: 1px;
      background-color: #F2F2F2;
    }
  }
}

