.service-block{

  &_padding-l{
	padding-right: 15px;

		@include max-to(lg) {
		  padding-right: 0;
		}
  }

  &_margin{
		@include max-to(lg) {
			display: block !important;
		  width: 100% !important;
		  margin-left: 0 !important;
		  margin-right: 0 !important;
		  margin-bottom: 30px !important;
		}
  }

  &_flex{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include max-to(xs) {
	  	justify-content: center;
  	}
  }

  &__col{
  	width: 33.3333%;
  	flex: 1 1 33.3333%;

  	@include max-to(md) {
	  	width: 50%;
	  	flex: 1 1 50%;
  	}

  	@include max-to(xs) {
	  	width: 100%;
	  	flex: 1 1 100%;
  	}
  }
}

.calculator-custom{


  &_bg{
	background-color: #f8fafb;
  }

  &__tabs{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 20px;
	border: 0;

		@media only screen and (min-width: 1920px){
			max-width: 1140px;
    	margin: 70px auto 20px;
		}
  }

  &__tab{
	width: 50%;
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	color: #0a5e74;
	background-color: #f0f4f7;
	cursor: pointer;
  }

  &__tab svg{
	fill: #0a5e74;
	transition: 0.3s ease;
  }

  &__tab.active{
	color: #0a5e74;
	background-color: transparent;

	a{
	  color: #0a5e74;
	}
  }

  &__tab.active svg{
	fill: #f7a553;
  }

  &__tab a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.3s ease;
  }

  &__tab a:focus,
  &__tab a:hover{
	text-decoration: none;
  }

  &__tab svg{
	margin-right: 10px;
  }
}

.info-message{
  color: #a4a4a5;
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  position: relative;
  margin: 15px 0 30px;

  &::before{
	content: '';
	width: 7px;
	height: 7px;
	background-color: #f7a553;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 0;
  }

  & a{
	color: #538e9d;
	text-decoration: underline;
  }
}

.add-info{
  padding-top: 60px;
  padding-bottom: 60px;

	@include max-to(sm) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

  & .icon{
	margin-right: 15px;
  }

  &__link{
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;

	display: flex;
	height: 63px;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	border: 1px solid #e9eded;
	border-radius: 6px;
	margin-bottom: 8px;
	transition: 0.3s ease;

	@include max-to(xs) {
	  padding-right: 15px;
	}
  }

  &__link:focus,
  &__link:hover{
	color: #f7a553;
	border-color: #f7a553;
	text-decoration: none;
  }
}