.show-tracker{

  &_wrapp {
	width: 100%;
	margin: 0 auto 3rem;
	border-bottom: 1px solid #E0E0E0;
  }

  &__state-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  &__text{
	font-family: $Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: $c-volun-gray2;
	margin: 0;
  }

  &__text strong,
  &__text b{
	color: $c-volun-text;
  }

  &__state-item{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 80px;
	background-color: #F8FAFB;
	border-radius: 8px;
	box-shadow: 0 0 0 0 transparent;
	padding: 24px;
	transition: all $expo;
  }

	&__state-item svg{
		width: 43px;
		height: 42px;
	}

  &__state-item:hover{
	transform: translateX(-2px) translateY(-2px);
	box-shadow: 2px 2px 0 0 #E0E0E0;
	background-color: $c-btn-orange;

	& .show-tracker__state-content,
	& .show-tracker__state-text{
	  color: #fff;
	}
  }

  &__state-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	  padding-left: 24px;
	transition: $expo;
  }

  &__state-text{
	font-family: $OpenSans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	color: #000;
	transition: $expo;
  }
}