@import "../base/variables.scss";

$bg-chat-client: #F3F6F8;
$bg-chat-operator: #0A5E74;

.ticket-single{

  &_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &_col{
    width: 100%;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 30px;

    @include max-to(xs) {
      padding: 0 15px;
    }
  }

  &__head_col{
    width: 50%;
  }

  &__body{
    padding: 30px 30px;
    height: calc(100vh - 283px); // header 64 +footer 100 + ticket-header 84 + ticket-footer 135 (205)
    overflow-y: auto;
    overflow-x: hidden;

    @include max-to(xs) {
      padding: 30px 15px;
      height: calc(100vh - 353px);
    }

    @media screen and (max-height: 420px){
      height: calc(100vh - 148px);
    }
  }

  &__footer{
    width: 100%;
    height: 135px;
    background-color: #F2F2F2;
    padding: 20px 30px;

    @include max-to(xs) {
      padding: 20px 15px;
      height: 205px;
    }
  }

  &__back{
    padding-right: 30px;
    border-right: 1px solid #F2F2F2;

    height: 84px;

    @include max-to(xs) {
      font-size: 0 !important;
    }
  }

  &__back i{

    @include max-to(xs) {
      font-size: 36px;
      text-align: center;
      margin: auto !important;
    }
  }

  &__integer{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    padding: 0 30px;

    color: $c-volun-text;

    @include max-to(sm) {
      font-size: 18px;
      padding-left: 15px;
      padding-right: 10px;
    }

    @include max-to(xs) {
      font-size: 16px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &__id{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    color: $c-volun-gray;

    height: 33px;
    overflow-y: auto;
    padding-right: 2px;

    & span{
      display: block;
      position: relative;
      padding-right: 5px;
    }

    & span:not(:last-child)::before{
      content: ',';
      position: absolute;
      bottom: 0;
      right: 0;
    }

    @include max-to(sm) {
      font-size: 14px;
      margin-top: 15px;
    }
  }

  &__id_size{
    font-size: 14px;
  }

  &__btn-send{

    @include max-to(xs) {
      display: none;
    }
  }

  &__btn-send-mobile{
    display: none;

    @include max-to(xs) {
      display: block;
      order: 4;
      width: 162px !important;
      padding: 0 !important;
      margin-left: 3px;
    }
  }
}

.chat{

  &__row {
    width: 100%;
    display: flex;
  }

  &__row_left{
    justify-content: flex-start;
  }

  &__row_right{
    justify-content: flex-end;
  }

  &__inner{
    max-width: 60%;
    min-width: 45%;
    width: auto;
    overflow: hidden;

    @include max-to(md) {
      max-width: 80%;
      min-width: 55%;
    }

    @include max-to(sm) {
      max-width: 90%;
    }
  }

  &__message{
    width: 100%;
    padding: 20px 30px 20px;
  }

  &__message img{
    width: 240px;
    margin-bottom: 1.5rem;
  }

  &__message a{
    color: #0A5E74;
    word-break: break-word;
  }

  &__message_client{
    background: $bg-chat-client;
    border-radius: 5px 5px 5px 0;
  }

  &__message_operator{
    background: $bg-chat-operator;
    border-radius: 5px 5px 0 5px;
  }

  &__client-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    background-color: #fff;
  }

  &__client-name{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 4px;

    color: $c-volun-text;
  }

  &__text{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__text_black{
    color: #000000;
  }

  &__text_white{
    color: #fff;
  }

  & .data{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: $c-volun-gray;
  }
}

.comment-form {

  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include max-to(xs) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  & .has-success::before,
  & .has-error::before{
    display: none;
  }

  & .has-error .note-editable {
    box-shadow: inset 0 0 0 1px $c-volun-red;
  }

  & .help-block{
    position: absolute;
    top: 6px;
    left: 25%;
  }

  &__note-editor {
    width: 85%;
    flex: 0 0 85%;
    margin-bottom: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @include max-to(md) {
      width: 75%;
      flex: 0 0 75%;
    }

    @include max-to(xs) {
      order: 1;
      width: 100%;
      flex: 0 0 100%;
      margin-bottom: 15px;
    }
  }

  &__file {
    width: 5%;
    height: 60px;
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include max-to(md) {
      width: 10%;
      flex: 0 0 10%;
    }

    @include max-to(xs) {
      order: 2;
      width: 41px;
      flex: 0 0 41px;
    }
  }

  &__nav {
    width: 10%;
    height: 60px;
    flex: 0 0 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    @include max-to(md) {
      width: 15%;
      flex: 0 0 15%;
    }

    @include max-to(xs) {
      order: 3;
      width: 82px;
      flex: 0 0 82px;
    }
  }

  & .note-editable.panel-body {
    height: 60px !important;
  }

  & .note-editor {
    width: calc(100% - 172px);
    //flex: 0 0 100%;

    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    //color: #BDBDBD;
    color: $c-volun-text;
    background: #FFFFFF;
    border-radius: 4px;
    border: 0;
    margin-bottom: 0;
    margin-right: 10px;

    @include max-to(xs) {
      width: 100%;
      margin-right: 0;
    }
  }

  & .note-editor p{
    margin-bottom: 0.5rem;
  }

  & .note-editor.note-frame {
    border: 0;
  }

  & .panel-heading.note-toolbar {
    background-color: #F2F2F2;
    padding: 0 0 4px 0;
  }

  & .note-statusbar {
    display: none;
  }

  & .btn-sm, .btn-group-sm > .btn {
    padding: 4px 6px;
    margin-right: 4px;
  }
}

.input-file__chat{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;

  border-radius: 3px;
  padding: 8px 50px 8px 50px;
  position: relative;
  background-image: url(/img/dowload.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-color: #fff;

  & svg {
    height: 34px;
    width: auto;
  }

  & i {
    height: 34px;
    width: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
  }
}