@import "../base/variables";

.tickets{

  &__date{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #828282;
    text-align: right;
    margin-bottom: 0;
  }

  &__message{
    display: block;
    overflow: hidden;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #F2F2F2;
    padding: 1em 1em 1.75em 1em;
    cursor: pointer;
    transition: $expo;

    &:hover{
      box-shadow: 0px 3px 9px rgba(10, 96, 117, 0.33);
      text-decoration: none;

      &.answer{
        background-color: rgba(10, 96, 117, 0.013);
        box-shadow: 0px 3px 9px rgba(10, 96, 117, 0.33);
      }

      & .counter_red{
        color: $c-volun-red;
        font-weight: 800;
        background: #fff;
        box-shadow: 0 0 0 2px $c-volun-red;
      }

      & .counter_grey{
        color: rgba(10, 96, 117, 1);
        font-weight: 800;
        box-shadow: 0 0 0 2px rgba(10, 96, 117, 1);
      }

      & .counter_white{
        color: $c-volun-red;
        font-weight: 800;
        background: #fff;
        box-shadow: 0 0 0 2px $c-volun-red;
      }
    }

    @include max-to(xl) {
      padding: 0.75em 0.75em 1.75em 0.75em;
    }
  }

  &__message.answer{
     box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);
   }

  &__message_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-to(ss) {
      display: block;
    }
  }

  &__message_font{
    font-family: $Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    overflow: hidden;

    color: #000000;
  }

  &__message_font span:last-child{
    color: #828282;
    font-weight: 400;
    display: block;
  }

  &__message .counter{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;

    transition: $expo;

    min-width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;

    @include max-to(xl) {
      margin-right: 0;
    }

    @include max-to(ss) {
      width: 36px;
      height: 36px;
      margin: 4px auto;
    }
  }

  &__message .counter_red{
    color: #fff;
    background: $c-volun-red;
  }

  &__message .counter_grey{
    color: #4F4F4F;
    background-color: #E0E0E0;
  }

  &__message .counter_white{
    color: $c-volun-red;
    background-color: #fff;
  }

}